<h1><%= @collection.datatable.title_and_years %></h1>

<table class='data-description'>
  <% unless @collection.datatable.dataset.protocols.empty? %>
    <tr>
      <td>Protocols</td>
      <td>
        <% @collection.datatable.dataset.protocols.each do |protocol| %>
          <%= link_to protocol.name, protocol_path(protocol)%>
        <% end %>
      </td>
    </tr>
  <% end %>

  <% if @collection.datatable.keywords.any? %>
    <tr>
      <td>Keywords:</td>
      <td><%= @collection.datatable.keywords.join(', ')%></td>
    </tr>
  <% end %>
  <tr>
    <td>Metadata</td>
    <td>
      <ul>
        <li><%= link_to 'Complete EML', dataset_path(@collection.datatable.dataset, :format => :eml) %></li>
      </ul>
    </td>
  </tr>
</table>

<table class='variate-table'>
  <tr>
    <th>Variate</th>
    <th>Description</th>
    <th>Units</th>
  </tr>
  <% @collection.datatable.variates.each do |variate| -%>
    <tr>
      <td class='space-after'>
        <%= variate.name.gsub(/_/,' ') %>
      </td>
      <td class='space-after'>
        <%= variate.description %>
      </td>
      <td>
        <%= variate.unit.human_name if variate.unit %>
      </td>
    </tr>
  <% end -%>
</table>


<% if @customizer.customize %>
  <%= button_to 'Hide customization forms', {:action => 'show', :id => @collection, :custom => false}, :method => :get %>
  <% form_tag({:action => 'show', :id => @collection}, :method => :get) do %>
    <%= hidden_field_tag 'custom', true %>
    <table>
      <tr>
        <td><%= label_tag 'limitby', 'Limit display by field: '%></td>
        <td><%= select_tag 'limitby', 
                options_for_select(@customizer.limitoptions, @customizer.limitby) %></td>
      </tr>
      <% if @customizer.limitby %>
        <%= hidden_field_tag 'oldlimitby', @customizer.limitby  %>
        <tr>
          <td><%= label_tag 'limit_min', "Where '#{@customizer.limitby.titleize}' ranges from: " %></td>
          <td><%= select_tag 'limit_min', options_for_select(@customizer.limitrange, @customizer.limit_min)%></td>
          <td><%= label_tag 'limit_max', " to: " %></td>
          <td><%= select_tag 'limit_max', options_for_select(@customizer.limitrange, @customizer.limit_max)%></td>
        </tr>
        <tr>
          <td><%= label_tag 'conatins', "Where '#{@customizer.limitby.titleize}' contains: "%> </td>
          <td><%= text_field_tag 'contains'%> </td>
        </tr>
      <% end %>
      <tr>
        <td><%= label_tag 'sortby', 'Sort display by field: '%></td>
        <td><%= select_tag 'sortby',
                options_for_select(@customizer.limitoptions, @customizer.sortby) %></td>
        <td><%= select_tag 'sort_direction', options_for_select(["Ascending", "Descending"], @customizer.sort_direction)%> </td>
      </tr>
    </table>
    <%= submit_tag 'Customize' %>
  <% end %>
<% else %>
  <%= button_to 'Show customization forms', {:action => 'show', :id => @collection, :custom => true}, :method => :get %>
<% end %>

<div>
  <h2>Data</h2>
  <div>
    <table>
      <% @customizer.sorted_values.each do  |row| %>
        <% if @customizer.accepts?(row) %>
          <tr  class="<%= cycle('even','odd') -%>">
            <td>
              <% row.keys.each do |key| %>
                <% next unless row[key] %>
                <% next if key == "id" %>
                <%= key.titleize + ": " + row[key] %><br />
              <% end %>
            </td>
            <td>
              <% if row['image'] %>
                <img src="<%= row['image'] %>" alt="A picture"/>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

<%= link_to 'Back to Collections Catalog', collections_path() %>
