<h1><%= @collection.datatable.title_and_years %></h1>

<table class='data-description'>
  <% unless @collection.datatable.dataset.protocols.empty? %>
    <tr>
      <td>Protocols</td>
      <td>
        <% @collection.datatable.dataset.protocols.each do |protocol| %>
          <%= link_to protocol.name, protocol_path(protocol)%>
        <% end %>
      </td>
    </tr>
  <% end %>

  <% if @collection.datatable.keywords.any? %>
    <tr>
      <td>Keywords:</td>
      <td><%= @datatable.keywords.join(', ')%></td>
    </tr>
  <% end %>
  <tr>
    <td>Metadata</td>
    <td>
      <ul>
        <li><%= link_to 'Complete EML', dataset_path(@dataset, :format => :eml) %></li>
      </ul>
    </td>
  </tr>
</table>

<table class='variate-table'>
  <tr>
    <th>Variate</th>
    <th>Description</th>
    <th>Units</th>
  </tr>
  <% @collection.datatable.variates.each do |variate| -%>
    <tr>
      <td class='space-after'>
        <%= variate.name.gsub(/_/,' ') %>
      </td>
      <td class='space-after'>
        <%= variate.description %>
      </td>
      <td>
        <%= variate.unit.human_name if variate.unit %>
      </td>
    </tr>
  <% end -%>
</table>

<%= button_to 'Show customization forms', {:action => 'customize', :id => @collection}, :method => :get%>
<% if @customize %>
  Customization form is shown now.
<% end %>

<div>
  <h2>Data</h2>
  <div>
    <table>
      <% @values.each do  |row| %>
        <tr  class="<%= cycle('even','odd') -%>">
          <td>
            <% row.keys.each do |key| %>
              <% next unless row[key] %>
              <% next if key == "id" %>
              <%= key.titleize + ": " + row[key] %><br />
            <% end %>
          </td>
          <td>
            <% if row['image'] %>
              <img src="<%= row['image'] %>" alt="A picture"/>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% @values.clear %>
    </table>
  </div>
</div>

<%= link_to 'Back to Collections Catalog', collections_path() %>
