<div id='download'>
  <% unless datatable.metadata_only? %>
    <% if datatable.can_be_downloaded_by?(current_user) %>
      <%= link_to 'Download complete data table', datatable_path(datatable,:format => :csv),
                :class => 'download-link',  data: { disable_with: "Please wait (downloading)..." } %>
      <%= link_to 'View as a Collection',
                collection_path(datatable.collection) if datatable.collection %>
      The <%=link_to 'standard data use policy applies to the this dataset' , datatable.dataset.sponsor.terms_of_use_path%>
      <%= link_to 'Permissions Management',
                permission_path(datatable) if current_user.try(:owns?, datatable)%>
      <%= link_to 'Owners Management',
                ownership_path(datatable) if admin? %>
    <% else %>
      <% if signed_in? %>
        <% if datatable.requested_by?(current_user) %>
          <p>You have already requested permission to download this datatable.</p>
        <% else %>
          <%= mail_to permission_request_email_list(datatable),
                    'Request Data',
                    :body => "Thanks for your interest in the  GLBRC data. This email is addressed to the Lead Investigators of the data table that you requested. Please let them know how you would like to use the data and what institution you are from. The lead investigators plan to respond promptly to requests. If you do not receive an email within the next several days then you are welcome to contact the GLBRC data coordinator (glbrc.data@kbs.msu.edu) so she can follow up on your request.\nData requested: http://#{website.name}.kbs.msu.edu#{url_for(datatable)}",
                    :subject => 'GLBRC data request',
                    :encode => 'hex',
                    :class => 'download-link',
                    :data => {:datatableid => datatable.id},
                    :id => 'permission-request'%>
                    <%# remote_function(:url => {:controller => 'permission_requests', :action => 'create', :datatable => datatable.id}) %1> %>
        <% end %>
      <% else %>
        <% if datatable.dataset.try(:sponsor).try(:name) == 'glbrc' %>
          <p class='highlight'>GLBRC data is not yet publicly available.</p>
        <% end %>
        <%= link_to 'Sign in to request the data',
                  sign_in_path, :class => 'download-link' %>
      <% end %>
    <% end %>
  <% end %>
</div>
