<%= form.inputs :name, :title, :dataset %>
<%= form.inputs do %>
  <%= form.input :comments, :input_html => { :size => '60x5' } %>
  <%= form.input :description, :input_html => { :size => '60x5' } %>
  <%= form.input :keyword_list, :label => 'Keywords' %>
  <%= form.input :study, :label => 'Experiment' %>
  <%= form.input :theme, :label => 'KBS Theme' %>
  <%= form.input :core_area, :label => 'LTER Core Area' %>
<% end %>

<h2>Data Contributions</h2>
<div id='data_contributions'>
  <%= form.inputs :for => :data_contributions do |f| %>
    <%= render :partial => 'data_contribution_fields', :locals => {:f => f} %>
  <% end %>
</div>
<%= link_to_add_fields "Add Person", form, :data_contributions %>

<%= form.inputs do %>
  <h2>Temporal Coverage</h2>
  <div id="temporal_coverage">
    <%= render :partial => 'temporal_coverage', :locals => {:form => form} %>
  </div>
  <% unless datatable.new_record? %>
    <%= link_to "Update Temporal Coverage", update_temporal_extent_datatable_path(datatable), :remote => true %>
  <% end %>
  <%= form.input :weight %>
  <%= form.input :update_frequency_days, :label => 'Expected Update Frequency (days)' %>
  <%= form.input :on_web %>
  <%= form.input :is_restricted, :label => 'Restricted (only visible at KBS)' %>
  <%= form.input :is_secondary, :label => 'Secondary Table' %>
<% end %>

<h2>Variates</h2>
<div id="variates">
  <%= form.inputs :for => :variates do |f| %>
    <%= render :partial => 'variate_fields', :locals => {:f => f} %>
  <% end %>
</div>
<%= link_to_add_fields "Add Variate", form, :variates %>