<p>
	<label for='datatable_name'>Name</label>
	<%= f.text_field :name %>
</p>
<p>
	<label for='datatable_title'>Title</label>
	<%= f.text_field :title %>
</p>
<p>
	<label for='datatable_comments'>Comments</label>
	<%= f.text_area :comments, :size => '60x5' %>
</p>
<p>
	<label for='datatable_description'>Description</label>
	<%= f.text_area :description, :size => '60x10' %>
</p>
<p>
  <label for='datatable_keyword_list'>Keywords</label>
  <%= text_field_with_auto_complete :datatable, :keyword_list, {}, {:method => :get} %>
</p>
<p>
  <label for='datatable_study_id'>Experiment</label>
  <%= f.select :study_id, Study.all.collect{|x| [x.name, x.id]}, :include_blank => true %>
</p>
<p>
  <label for='datatable_theme'>KBS Theme</label>
  <%= f.select :theme_id, nested_set_options(Theme, @theme) {|i| "#{'-' * i.level} #{i.name}" }, :include_blank => true %>
</p>
<p>
  <label for='datatable_theme'>LTER Core Area</label>
  <%= f.select :core_area_id, @core_areas , :include_blank => true%>
</p>
<p>
  <label for='datatable_begin_date'>Temporal Coverage from:</label>
  <%= f.date_select :begin_date, :include_blank => true, :end_year => Time.now.year, :start_year => Time.now.year - 10%> 
  <label for='datatable_end_date'>to</label>
  <%= f.date_select :end_date, :include_blank => true, :end_year => Time.now.year, :start_year => Time.now.year - 10 %>
  <%= button_to_remote 'update temporal extent', :url => {:action => :update_temporal_extent, :id => @datatable}%>
</p>
<p>
  <label for='datatable_weight'>Weight</label>
  <%= f.text_field :weight %>
</p>
<p>
  <label for='datatable_update_frequency_days'>Expected Update Frequency (days)</label>
  <%= f.text_field :update_frequency_days %>
</p>
<p>
  <label for='datatable_on_web'>On Web</label>
  <%= f.check_box :on_web %>
</p>
<p>
  <label for='datatable_restricted'>Restricted (only visible at KBS)</label>
  <%= f.check_box :is_restricted %>
</p>

<% f.fields_for :variates do |variate_form| %>
<table id='variates'>
  <tr>
    <th>Name</th>
    <th>weight</th>
    <th>description</th>
    <th>units</th>
    <th>scale</th>
    <th>data_type</th>
    <th>max_valid</th>
    <th>min_valid</th>
    <th>date_format</th>
    <th>precision</th>
    <th>missing value</th>
  </tr>
  <% @datatable.variates.each do |variate| %>
    <tr>
      <td><%= text_field_tag 'datatable[variates_attributes][][name]', variate.name %></td>
      <td><%= text_field_tag 'datatable[variates_attributes][][weight]', variate.weight, {:size => 5} %></td>
      <td><%= text_field_tag 'datatable[variates_attributes][][description]', variate.description %></td>
      <td><%= select_tag 'datatable[variates_attributes][][unit_id]', 
       "<option></option>" +
        options_from_collection_for_select(Unit.all, :id, :name, variate.unit_id)
      %></td>
      <td><%= select_tag 'datatable[variates_attributes][][measurement_scale]', 
          options_for_select(['nominal','interval','ratio', 'datetime'], variate.measurement_scale)%></td>
      <td><%= select_tag 'datatable[variates_attributes][][data_type]', 
            options_for_select(['text','datetime','integer','real','text'], variate.data_type)%></td>
      <td><%= text_field_tag 'datatable[variates_attributes][][max_valid]', variate.max_valid %></td>
      <td><%= text_field_tag 'datatable[variates_attributes][][min_valid]', variate.min_valid %></td>
      <td><%= text_field_tag 'datatable[variates_attributes][][date_format]', variate.date_format %></td>
      <td><%= text_field_tag 'datatable[variates_attributes][][precision]', variate.precision %></td>
      <td><%= text_field_tag 'datatable[variates_attributes][][missing_value_indicator]', variate.missing_value_indicator %></td>
      	<td>
    		  <%= check_box_tag 'datatable[variates_attributes][][_delete]' %>
    		  <%= hidden_field_tag 'datatable[variates_attributes][][id]', variate.id %>
    		</td>
    </tr>
  <% end %>
</table>
<%= link_to_remote 'Add Variate',:url => {:controller => :variates, :action => :new} %>
<% end %>

