<li class='study-title' id='study_<%=study.id%>'><%= study.name %>
  <% unless  study.synopsis == '' -%>
    <p><%=raw study.synopsis%></p>
  <% end -%>
  <ul>
    <% study.children.each do |s| %>
      <% next unless s.include_datatables?(datatables) -%>
      <%= render 'study', :study => s, :datatables => datatables, :themes => themes %>
    <% end -%>
  </ul>
  <ul>
    <% themes.each do |theme| -%>
      <% next unless theme.include_datatables_from_study?(datatables, study) -%>
      <%= render 'theme', :theme => theme, :study => study, :datatables => datatables %>
    <% end -%>
  </ul>
</li>
