<h1>Editing datatable</h1>

<%= error_messages_for :datatable %>

<% form_for(:datatable, :url => datatable_path(@datatable), :html => { :method => :put }) do |f| %>
	<%= render :partial => 'form', :locals => {:f => f, :theme => @theme, :core_areas => @core_areas, :datatable => @datatable} %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', datatable_path(@datatable) %> |
<%= link_to 'Back', datatables_path %>
<%= button_to_remote "Delete cached version", :url => { :action => "delete_csv_cache", :id => @datatable } if @controller.fragment_exist?(:controller => "datatables", :action => "show", :id => @datatable, :format => "csv") %>
