<% cache do %>
  <h1>GLBRC Research Thrust 4 Data Catalog</h1>
  <p id='datatable-intro'>
  The Thrust 4 Data Catalog is a collection of GLBRC data related to sustainability research at different T4 research sites in Michigan and Wisconsin. Data are summarized by experiment. The Data Catalog summarizes each data table in order to allow the GLBRC community to better understand the data that have been collected and encourage collaboration. Please contact the lead investigator listed on the data table to request access to that data. Direct any questions to the <a href='mailto:glbrc.data@kbs.msu.edu'>T4 GLBRC Data Coordinator</a>.  
  </p>
  <h2>Terms of Use</h2>
  <p>
    Data from the Great Lakes Bioenergy Research Center Sustainability Thrust database are copyrighted. Use of any data from this catalog in a public presentation or publication requires written permission from the lead investigator (listed with each data table) or the GLBRC T4 Research Leader.  This restriction applies to users both internal and external to the Center.  These restrictions are intended mainly to preserve the primary investigators' rights to first publication and to ensure that data users are aware of the limitations that may be associated with the data. All publications with GLBRC T4 data and images must acknowledge the DOE Great Lakes Bioenergy Research Center grant (DOE BER Office of Science DE-FC02-07ER64494).</p>

  <div id='search-form'>
    <%= form_tag '/datatables', :method => 'get'%>
    
        <div id='keyword-search'>
         <%= text_field_tag :keyword_list, @keyword_list || @default_value , {:id => 'keyworder'}  %>
        </div>  
          <div id='search-submit'>
          <%= submit_tag "Search Datacatalog"%>
          </div>
  </div>
  <div>
  <h1 class='right'>Data</h1>
  <ul class='quickTree'>
    <li>
      <%= render_study(:code => 'GIBC')%>
      <%= render_study(:code => 'GSCALE')%>
      <%= render_study(:code => 'GEXT')%>
      <%= render_study(:code => 'GSWITCH')%>
      <%= render_study(:code => 'GVAR')%>
      <%= render_study(:code => 'GPROD')%>
    </li>
  </ul>
  </div>


  <%= link_to 'login', new_session_path %>
<% end %>
