<% cache(:action_suffix => "glbrc") do %>
  <h1>GLBRC Sustainability Research Data Catalog</h1>
  <p id='datatable-intro'>
    <%=raw  @website.data_catalog_intro %>
  </p>
  <%= textilize @sponsor.data_use_statement if @sponsor %>

  <div id='glbrc-search-form' class= 'rounded-corners'>
    <%= form_tag '/datatables/search' do %>
      <div id='keyword-search'>
        <%= text_field_tag :keyword_list, @keyword_list || @default_value , {:id => 'keyworder'}  %>
      </div>
      <div id='search-submit'>
        <%= submit_tag "Search Datacatalog"%>
      </div>
    <% end %>
  </div>
  <div>
    <h1 class='right'>Data</h1>
    <ul class='quickTree'>
        <%= render_study(:code => 'GCONTEXT')%>
        <%= render_study(:code => 'GIBC')%>
        <%= render_study(:code => 'GSCALE')%>
        <%= render_study(:code => 'GEXT')%>
        <%= render_study(:code => 'GSWITCH')%>
        <%= render_study(:code => 'GVAR')%>
        <%= render_study(:code => 'GPROD')%>
    </ul>
  </div>


  <% if signed_in? %>
    <li><a href='/uploads/new'>Uploads</a></li>
  <% end %>
<% end %>
