<div id='search-form'>
  <%= form_tag '/datatables', :method => 'get'%>
  <div id='top-line-search'>
    <div id='core-area-search'>
    <label>Theme/LTER Core Area</label> <%= select :theme, :id , @themes.collect {|x| [x.name, x.id]},  { :include_blank => "All" }%>
    </div>
  
    <div id='contributor-search'>  
       <label>Contributor:</label><%= select :person, :id, @people.collect{|x| [truncate(x.last_name_first, :length => 16), x.id]},  { :include_blank => "All" } %>
    </div>
      <div class='year-search'>
        <label>From:</label><%= select_year @syear, :start_year => 1988, :end_year => Date.today.year, :field_name => 'syear'%>
      </div>
      <div class='year-search'>
        <label>To:</label><%= select_year @eyear, :start_year => 1988, :end_year => Date.today.year, :field_name => 'eyear' %>
      </div>
    </div>
    <div id='bottom-line-search'>
  
    <div id='keyword-search'>
     <%= text_field_tag :keyword_list, @keyword_list, {:id => 'keyworder', :size=>57}  %>
    </div>  
      <%= submit_tag "Search"%><%= submit_tag 'Clear'%>
</div>
</div>

<ul class='quickTree'>
  <% @studies.each do |study| -%>
  <% next unless study.include_datatables?(@datatables)%>
  
  <li class='study-title'><%= study.name %> <%= link_to 'edit', edit_study_path(study) if logged_in?%>
    <p><%= study.synopsis%></p>
  <ul>
    <% @themes.each do |theme| %>
    <% next unless theme.include_datatables_from_study?(@datatables, study) -%>
 
    <%= render :partial=>'theme', :locals => {:theme => theme, :study => study} %>
 
    <% end -%>
  </ul>
  </li>
  <% end -%>
</ul>

<% if logged_in? %>
<h3>Datatables</h3>
<ul>
  <% @datatables.each do |datatable| %>
    <% next if datatable.theme_id %>
    <li><%= link_to datatable.title, datatable_path(datatable)%> <%=link_to "edit", edit_datatable_path(datatable)%></li>
    <% end -%>
</ul>
<% end %>
