<div id='search-form'>
  <%= form_tag '/datatables', :method => 'get'%>
  <div id='top-line-search'>
    <div id='core-area-search'>
    <label>Theme/LTER Core Area</label> <%= select :theme, :id , @themes.collect {|x| [x.name, x.id]},  { :include_blank => "All" }%>
    </div>
    <div id='experiment-search'>
      <label>Long-term Experiment</label>
      <%= select :study, :id, Study.all(:order => 'weight').collect{|x| [truncate(x.name, :length => 37), x.id]}, {:include_blank => 'All'}%>
    </div>
    <div id='contributor-search'>  
       <label>Contributor:</label><%= select :person, :id, @people.collect{|x| [truncate(x.last_name_first, :length => 16), x.id]},  { :include_blank => "All" } %>
    </div>
    </div>
    <div id='bottom-line-search'>
    <div id='year-search'>
      <label>From:</label><%= select_year @syear, :start_year => 1988, :end_year => Date.today.year, :field_name => 'syear'%>
      <label>To:</label><%= select_year @eyear, :start_year => 1988, :end_year => Date.today.year, :field_name => 'eyear' %>
    </div>
    <div id='keyword-search'>
      <label>Keywords:</label><%= text_field_tag :keyword_list, @keyword_list, {:id => 'keyworder'}  %>
    </div>  
      <%= submit_tag "Search" %>
</div>
</div>

<ul class='quickTree'>
  <% @studies.each do |study| -%>
  <% next unless study.include_datatables?(@datatables)%>
  
  <li class='study-title'><%= study.name %>
  <ul>
    <% @themes.each do |theme| %>
    <% next unless theme.datatables?(study) -%>
    <% next unless theme.include_datatables_from_study?(@datatables, study) -%>
 
    <%= render :partial=>'theme', :locals => {:theme => theme, :study => study} %>
 
    <% end -%>
  </ul>
  </li>
  <% end -%>
</ul>

<% if logged_in? %>
<h3>Datatables</h3>
<ul>
  <% @datatables.each do |datatable| %>
    <% next if datatable.theme_id %>
    <li><%= link_to datatable.title, datatable_path(datatable)%> <%=link_to "edit", edit_datatable_path(datatable)%></li>
    <% end -%>
</ul>
<% end %>
