<div id='search-form'>
  <%= form_tag '/datatables', :method => 'get'%>
  
      <div id='bottom-line-search'>

      <div id='keyword-search'>
       <%= text_field_tag :keyword_list, @keyword_list || @default_value , {:id => 'keyworder'}  %>
      </div>  
        <div id='search-submit'>
        <%= submit_tag "Search"%>
        </div>
  </div> 
</div>

<ul class='quickTree'>
  <% @studies.each do |study| -%>
  <% next unless study.include_datatables?(@datatables)%>
  
  <li class='study-title' id='study_<%=study.id%>'><%= study.name %> <%= link_to 'edit', edit_study_path(study) if logged_in?%>
    <% unless  study.synopsis == '' %>
    <p><%= study.synopsis%></p>
    <% end %>
  <ul>
    <% @themes.each do |theme| %>
    <% next unless theme.include_datatables_from_study?(@datatables, study) -%>
 
    <%= render :partial=>'theme', :locals => {:theme => theme, :study => study} %>
 
    <% end -%>
  </ul>
  </li>
  <% end -%>
</ul>

<% if logged_in? %>
<h3>Datatables</h3>
<ul>
  <% @datatables.each do |datatable| %>
    <% next if datatable.theme_id %>
    <li><%= link_to datatable.title, datatable_path(datatable)%> <%=link_to "edit", edit_datatable_path(datatable)%></li>
    <% end -%>
</ul>
<% end %>

<%= link_to 'login', new_sessions_path %>
