<% cache(:action_suffix => "lter") do %>
  <h1>Table of Contents</h1>

  <p id='datatable-intro'>
    <%=raw  @website.data_catalog_intro %>
  </p>

  <%= render :partial => 'search_form' %>

  <ul class='quickTree'>
    <% @studies.each do |study| -%>
      <% next unless study.include_datatables?(@datatables)%>

      <%= render :partial => 'study',  :locals => {:study => study}%>
    <% end -%>
  </ul>
<% end %>

<% if admin? %>
  <h3>Datatables</h3>
  <ul>
    <% @datatables.each do |datatable| %>
      <% next if datatable.theme_id %>
      <li><%= link_to datatable.title_and_years, datatable_path(datatable)%> <%=link_to "edit", edit_datatable_path(datatable)%>
        <span class='member_only'>
          <%= datatable.updated_at.to_date if datatable.updated_at %> 
        </span>
      </li>
    <% end -%>
  </ul>
<% end %>
