<% cache(:action_suffix => "lter") do %>
  <h1>Table of Contents</h1>

  <p id='datatable-intro'>
    <%=raw  @website.data_catalog_intro %>
  </p>

  <%= render 'search_form' %>

  <ul class='quickTree'>
    <% @studies.each do |study| -%>
      <% next unless study.include_datatables?(@datatables)%>

      <%= render 'study', :study => study, :themes => @themes, :datatables => @datatables %>
    <% end -%>
  </ul>
<% end %>

<% if admin? %>
  <h3>GLBRC Biofuel Cropping System Experiment<a href='http://data.sustainability.glbrc.org'>Data</a><h3>
      <p>Candidate biofuel cropping systems along a diversity gradient from continuous corn to restored prairie</p>
      
  <h3>Datatables</h3>
  <ul>
    <% @datatables.each do |datatable| %>
      <% next if datatable.theme_id %>
      <li><%= link_to datatable.title_and_years, datatable_path(datatable)%> <%=link_to "edit", edit_datatable_path(datatable)%>
      </li>
    <% end -%>
  </ul>
<% end %>
