<h1>New datatable</h1>

<%= simple_fields_for datatable, :html => { :multipart => true } do |form| %>
  <%= render "shared/error_messages", :target => datatable %>
  <%= render 'form', :form => form, :datatable => datatable %>
  <%= form.button :submit %>
<% end %>

<%= link_to 'Back', datatables_path %>
