<h1>Graphs for <%= datatable.name %></h1>

<% datatable.visualizations.each do |visualization| %>
  <h2><%= visualization.title %></h2>
  <p><%= visualization.body %></p>
  <div class = "<%=visualization.graph_type%>" id = "<%=visualization.id%>">
  </div>
<% end %>
