<% cache([datatable, datatable.dataset]) do %>
  <%= render 'shared/breadcrumbs',
    :crumbs => [{:name => controller_name.upcase, :url =>  url_for(:controller => controller_name, :action => 'index')},
      {:name => datatable.study_name },
      {:name => datatable.title.upcase}] %>

  <div class='page type-page hfeed'>
    <h1> <%=raw datatable.title %> </h1>

  <div class='description'>
    <%=raw textilize datatable.description.presence %>
    <%= datatable.access_statement %>

    <% part_of_text = "This datatable is part of the " + link_to(datatable.dataset.title, dataset_path(datatable.dataset.id)) +  " dataset. " %>
    <div class='truncate'>
      <%=raw textilize( part_of_text + datatable.dataset.try(:abstract)) %>
    </div>
    <% unless datatable.study.try(:warning).try(:empty?) %>
      <h4>Note<h4>
      <p><%= datatable.study.try(:warning) %></p>
    <% end %>
  </div>

  <table class='data-description'>
    <% if datatable.study %>
      <tr>
        <td>Experiment:</td>
        <td>
          <%= link_to_if datatable.study_link_for(@website),
              datatable.study_name, datatable.study_link_for(@website) %>
        </td>
      </tr>
    <% end %>
    <% if datatable.begin_date && datatable.end_date %>
      <tr>
        <td>Temporal Coverage:</td>
        <td>
          <% if datatable.begin_date.strftime("%B %Y") == datatable.end_date.strftime('%B %Y') -%>
          <%= datatable.begin_date.strftime("%B %Y") %>
          <% else -%>
          <%= datatable.begin_date.strftime("%B %Y") %> to <%= datatable.end_date.strftime('%B %Y') %>
        <% end -%>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>Dataset:</td>
      <td><%= link_to datatable.dataset, dataset_path(datatable.dataset) %></td>
    </tr>
    <tr>
      <td>Datatable ID:</td>
      <td><%= datatable.name %>.<%=datatable.dataset.version %></td>
    </tr>
    <% unless datatable.core_areas.empty? %>
      <tr>
        <td>Core Areas</td>
        <td><%= datatable.core_areas.all.collect {|x| x.name }.join(',') %></td>
    <% end %>
    <% if datatable.related_tables.any? %>
      <tr>
        <td>Related Tables:</td>
        <td><ul>
          <% datatable.related_tables.each do |table| %>
            <li><%=link_to raw(table.title) , datatable_path(table) %></li>
          <% end %>
        </ul></td>
      </tr>
    <% end -%>
    <% if datatable.related_files.any? -%>
      <tr>
        <td>Related Files:</td>
        <td>
          <ul>
            <% datatable.related_files.each do |file| -%>
              <li><%= link_to file.data_file_name, dataset_file_path(file) %></li>
            <% end -%>
          </ul>
        </td>
      </tr>
    <% end -%>
    <tr>
      <td>Personnel:</td>
      <td>
        <ul>
          <% personnel = datatable.personnel -%>
          <% personnel.keys.each do |key| -%>
            <li>
              <%= link_to "#{key.full_name}", person_path(key.id)%>, <%= personnel[key].join(',') %>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Last Updated</td>
      <td> <%= @datatable.updated_at.strftime('%Y-%m-%d') %></td>
    </tr>
    <% if @datatable.completed? %>
      <tr>
        <td>Status</td>
        <td>
          <ul>
            <li>Completed</li>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>

  <table class='variate-table'>
    <tr>
      <th>Variate</th>
      <th>Description</th>
      <th>Units</th>
    </tr>
    <% datatable.variates.each do |variate| -%>
      <tr>
        <td class='space-after'>
          <%= variate.name.gsub(/_/,' ') %>
        </td>
        <td class='space-after'>
          <%= variate.description %>
        </td>
        <td>
          <%= variate.unit.human_name if variate.unit %>
        </td>
      </tr>
    <% end -%>
  </table>

<% end %> 

<% if datatable.is_sql %>
  <!--
  TODO: geographic coverage
  -->
  <%= render 'protocols', :datatable => datatable %>
  <%= render 'download_button', :datatable => datatable, :website => @website %>
  <%= render 'data_preview',   :datatable => datatable %>
<% else %>
  <% if datatable.object? %>
    <p>
      <%= link_to 'Data', datatable.data_url %> (on a different page)
    </p>
  <% else %>
    <p>Data Embargoed</p>
  <% end %>
<% end %>

<%= link_to 'Back to Data Catalog', datatables_path() %>&nbsp;&nbsp;
<%= link_to 'Edit', edit_datatable_path(datatable) if admin? %>
<%= link_to 'EML formatted metadata', dataset_path(datatable.dataset,:format => :eml) %>
</div>
