<h1><%= @datatable.title_and_years %></h1>

<%= textilize @datatable.description if @datatable.description %>
<%= @datatable.try(:summary_graph) %>
<%= @datatable.try(:access_statement) %>

<!-- TODO Temporary: use the default if sponsor is lter. -->
<% if @dataset.sponsor.try(:name) == 'lter' %>
  The <a href='http://lter.kbs.msu.edu/data/terms_of_use.php'>standard data use policy applies to the this dataset</a>
<% else %>
  The <%=link_to 'standard data use policy applies to the this dataset' , sponsor_url(@dataset.sponsor)%>
<% end %>
 

<div>
  <h2>Context:</h2>
  <div class='truncate'>
    <%= textilize @dataset.abstract if @dataset.abstract%>
  </div>
</div>

<table class='data-description'>
  <% if @datatable.study %>
      <tr>
        <td>Experiment:</td>
        <td>
          <% if @datatable.study.url.nil? || @datatable.study.url.empty? %>
            <%= @datatable.study.name %>
          <% else %>
            <%= link_to "#{@datatable.study.name}", @datatable.study.url %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if @datatable.begin_date && @datatable.end_date %>
      <tr>
        <td>Temporal Coverage:</td>
        <td><%= @datatable.begin_date %> to <%= @datatable.end_date %></td>
      </tr>
    <% end %>
    <tr>
      <td>Experiment:</td>
      <td>
        <% if @datatable.study.url.nil? || @datatable.study.url.empty? %>
          <%= @datatable.study.name %>
        <% else %>
          <%= link_to "#{@datatable.study.name}", @datatable.study.url %>
        <% end %>
      </td>
    </tr>
  <% if @datatable.begin_date && @datatable.end_date %>
    <tr>
      <td>Temporal Coverage:</td>
      <td><%= @datatable.begin_date %> to <%= @datatable.end_date %></td>
    </tr>
  <% end %>
  <tr>
    <td>Datatable ID:</td>
    <td><%= @datatable.name%></td>
  </tr>
  <tr>
    <td>Dataset:</td>
    <td><%= link_to @dataset.title, dataset_path(@dataset) %></td>
  </tr>
  <tr>
    <td> Dataset ID:</td>
    <td> <%= "#{@dataset.dataset}"%></td>
  </tr>

  <% if @datatable.related_tables.any? %>
    <tr>
      <td>Related Tables:</td>
      <td><ul>
        <% @datatable.related_tables.each do |table| %>
          <li><%=  link_to table.title , datatable_path(table) %></li>
        <% end %>
      </ul></td>
    </tr>
  <% end -%>
  <tr>
    <td>Personnel:</td>
    <td>
      <ul>
        <% personnel = @datatable.personnel -%>
        <% personnel.keys.each do |key| -%>
          <li>
            <%= link_to "#{key.full_name}", person_path(key.id)%>, <%= personnel[key].join(',') %>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
  <% unless  @dataset.protocols.empty? %>
    <tr>
      <td>Protocols</td>
      <td>
        <% @dataset.protocols.each do |protocol| %>
          <%= link_to protocol.name, protocol_path(protocol)%>
        <% end %>
      </td>
    </tr>
  <% end %>
  <% if @datatable.keywords.any? and signed_in?%>
    <tr>
      <td>Keywords:</td>
      <td><%= @datatable.keywords.join(', ')%></td>
    </tr>
  <% end %>
  <tr>
    <td>Metadata</td>
    <td>
      <ul>
        <li><%= link_to 'Complete EML', dataset_path(@dataset, :format => :eml) %></li>
      </ul>
    </td>
  </tr>
</table>

<table class='variate-table'>
  <tr>
    <th>Variate</th>
    <th>Description</th>
    <th>Units</th>
  </tr>
  <% @datatable.variates.each do |variate| -%>
    <tr>
      <td class='space-after'>
        <%= variate.name.gsub(/_/,' ') %>
      </td>
      <td class='space-after'>
        <%= variate.description %>
      </td>
      <td>
        <%= variate.unit.human_name if variate.unit %>
      </td>
    </tr>
  <% end -%>
</table>


<% unless  @datatable.is_sql %>
  <% unless @datatable.object.nil? %>
    <p>
      <%= link_to 'Data', @datatable.data_url %> (on a different page)
    </p>
  <% end %>
  <p>Data Embargoed</p>
<% else %>
  <% if @values -%>
    <p>
      <!--
    	TODO: geographic coverage
    	-->
      <% unless @datatable.metadata_only? %>
        <% if @datatable.can_be_downloaded_by?(current_user) %>
          <%= link_to 'Download complete data table',
                      datatable_path(@datatable,
                        :format => :csv) ,
                        :class => 'download-link'%>
          <%= link_to 'Permissions Management',
                      permission_path(@datatable) if current_user.try(:owns?, @datatable) %>
          <%= link_to 'Owners Management',
                      ownership_path(@datatable) if current_user.try(:role) == 'admin' %>
        <% else %>
          <% if signed_in? %>
            <%= mail_to permission_request_email_list(@datatable),
                        'Request data',
                        :class => 'download-link' %>
          <% else %>
            <%= link_to 'Sign in to request the data',
                        sign_in_path,
                          :class => 'download-link' %> or
            <%= link_to 'Sign up',
                        sign_up_path %> if you have not done so already.
          <% end %>
        <% end %>
      <% end %>
    </p>

    <div>
      <h2>Data Excerpt</h2>
      <div>
        <table>
          <tr>
            <% @values.fields.each do |field| %>
              <th>
                <%= field.gsub(/_/,' ') %>
              </th>
            <% end %>
          </tr>
          <% @values.each do  |row| %>
            <tr  class="<%= cycle('even','odd') -%>">
              <% row.keys.each do |key| %>
                <td align='right'>
                  <%= row[key] %>
                </td>
              <% end %>
            </tr>
          <% end %>
          <% @values.clear %>
        </table>
      </div>
    </div>
  <% end %>
<% end %>

<%= link_to 'Back to Data Catalog', datatables_path() %>&nbsp;&nbsp;
<%= link_to 'Edit', edit_datatable_path(@datatable) if admin? %>
