<% content_for :head do %>
  <script type="application/ld+json">
    <%= raw datatable.ld_json.to_json %>
  </script>
  <title>KBS LTER Datatable - <%= datatable.title %></title>
<% end %>
<% cache([datatable, datatable.dataset]) do %>
  <%= render 'shared/breadcrumbs',
    :crumbs => [{:name => controller_name.upcase, :url =>  url_for(:controller => controller_name, :action => 'index')},
      {:name => datatable.study_name },
      {:name => datatable.title.upcase}] %>

  <% if datatable.deprecated_in_favor_of.present? %>
  <div class="deprecation-warning">
    <h1>This datatable was deprecated in favor of <%= link_to datatable_url(datatable.deprecated_in_favor_of), datatable_url(datatable.deprecated_in_favor_of) %> </h1>
    <p><%= datatable.deprecation_notice %></p>
  </div>
  <% end %>
  <div class='page type-page hfeed'>
    <h1> <%=raw datatable.title %> — <%= raw datatable.study.name %></h1>

    <div>
      <p> Data in the KBS LTER core database may not be published without written permission of the lead investigator or project director <a href="https://lter.kbs.msu.edu/data/terms-of-use/">Full terms of use</a>
      </p>
    </div>
  <div class='description'>
    <%=raw markdown_to_html datatable.description.presence %>
    <%= datatable.access_statement %>

    <% part_of_text = "This datatable is part of the " + link_to(datatable.dataset.title, dataset_path(datatable.dataset.id)) +  " dataset. " %>
    <div class='truncate'>
      <% dataset_abstract = datatable.dataset.try(:abstract) || '' %>
      <%=raw markdown_to_html( part_of_text + dataset_abstract) %>
    </div>
    <% unless datatable.study.try(:warning).try(:empty?) %>
      <h4>Note<h4>
      <p><%= datatable.study.try(:warning) %></p>
    <% end %>
  </div>

  <table class='data-description'>
    <% if datatable.study %>
      <tr>
        <td>Experiment:</td>
        <td>
          <%= link_to_if datatable.study_link_for(@website),
              datatable.study_name, datatable.study_link_for(@website) %>
        </td>
      </tr>
    <% end %>
    <% if datatable.begin_date && datatable.end_date %>
      <tr>
        <td>Data available from:</td>
        <td>
          <% if datatable.begin_date.strftime("%B %Y") == datatable.end_date.strftime('%B %Y') -%>
          <%= datatable.begin_date.strftime("%B %Y") %>
          <% else -%>
          <%= datatable.begin_date.strftime("%B %Y") %> to <%= datatable.end_date.strftime('%B %Y') %>
        <% end -%>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>Dataset:</td>
      <td><%= link_to datatable.dataset, dataset_path(datatable.dataset) %></td>
    </tr>
    <tr>
      <td>Datatable ID:</td>
      <td><%= datatable.name %>.<%=datatable.dataset.version %></td>
    </tr>
    <% unless datatable.core_areas.empty? %>
      <tr>
        <td>Core Areas</td>
        <td><%= datatable.core_areas.all.collect {|x| x.name }.join(',') %></td>
    <% end %>
      <tr>
        <td>Repository link:</td>
        <td>
          <% if datatable.dataset.current_doi %>
            <% doi = datatable.dataset.current_doi %>
            <%= link_to "http://doi.org/#{doi.doi}", "https://doi.org/#{doi.doi}" %>
          <% end %>
        </td>
      </tr>
    <% if datatable.related_tables.any? %>
      <tr>
        <td>Related Tables:</td>
        <td><ul>
          <% datatable.related_tables.each do |table| %>
            <li><%=link_to raw(table.title) , datatable_path(table) %></li>
          <% end %>
        </ul></td>
      </tr>
    <% end -%>
    <% if datatable.related_files.any? -%>
      <tr>
        <td>Related Files:</td>
        <td>
          <ul>
            <% datatable.related_files.each do |file| -%>
              <li><%= link_to file.filename, url_for(file) %></li>
            <% end -%>
          </ul>
        </td>
      </tr>
    <% end -%>
    <tr>
      <td>Personnel:</td>
      <td>
        <ul>
          <% personnel = datatable.personnel -%>
          <% personnel.keys.each do |key| -%>
            <li>
              <%= link_to "#{key.full_name}", person_path(key.id)%>, <%= personnel[key].join(',') %>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Last Updated</td>
      <td> <%= @datatable.updated_at.strftime('%Y-%m-%d') %></td>
    </tr>
    <% if @datatable.completed? %>
      <tr>
        <td>Status</td>
        <td>
          <ul>
            <li>Completed</li>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>

  <% if datatable.variates.count > 0 %>
  <table class='variate-table'>
    <tr>
      <th>Variate</th>
      <th>Description</th>
      <th>Units</th>
    </tr>
    <% datatable.variates.each do |variate| -%>
      <tr>
        <td class='space-after'>
          <%= variate.name.gsub(/_/,' ') %>
        </td>
        <td class='space-after'>
          <%= variate.description %>
        </td>
        <td>
          <%= variate.unit.human_name if variate.unit %>
        </td>
      </tr>
    <% end -%>
  </table>
<% end %>

<% end %>

<% unless datatable.deprecated_in_favor_of.present? %>
  <% if datatable.is_sql %>
    <!--
    TODO: geographic coverage
    -->
    <%= render 'protocols', :datatable => datatable %>
    <%= render 'download_button', :datatable => datatable, :website => @website %>
    <%= render 'data_preview',   :datatable => datatable %>
  <% else %>
    <% if datatable.data_url? %>
      <p>
      <hr/>
      <%= link_to 'Data (on a different site)', datatable.data_url, class: "download-link" %>
      </p>
    <% else %>
      <p>Data Embargoed</p>
    <% end %>
  <% end %>
<% end %>

<% if admin? %>
  <div>
    <% if datatable.csv_file.attached? %>
      <%= link_to 'Un Cache', retract_datatable_path(datatable), method: :put %>
    <% else %>
      <%= link_to 'Cache', publish_datatable_path(datatable), method: :put %>
    <% end %>
    <%= link_to 'Edit', edit_datatable_path(datatable)  %>
  </div>
<% end %>

<div>
  <%= link_to 'Back to Data Catalog', datatables_path() %>&nbsp;&nbsp;
  <%= link_to 'EML formatted metadata', dataset_path(datatable.dataset,:format => :eml) %>
</div>
