<h1>Editing invite</h1>

<%= form_for(@invite) do |f| %>
  <%= render "shared/error_messages", :target => @invite %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @invite %> |
<%= link_to 'Back', invites_path %>