<h2>Sign in</h2>

<div class="notice"><%= flash[:failure] %></div>
<div class="notice"><%= flash[:success] %></div>

<div class='citation-hint'>
  For access to the publication, enter the username "lter@kbs" and the password "lter".
</div>

<%= semantic_form_for :session, :url => session_path do |form| %>
  <%= form.inputs do %>

    <%= form.input :email, :as => :email, :label => 'Username (Email)',  :required => false %>
    <%= form.input :password, :as => :password, :required => false %>

  <% end %>
  <%= form.button :submit, :label => "Sign in" %>

<% end %>

<ul>
  <li>
    <%= link_to "Forgot password?", new_password_path %>
  </li>
</ul>

