<% cache(:action=>'index', :action_suffix => "citation_#{citation.id}") do %>
<div id=<%= citation.id %> >
  <li class='citation'>
      <% unless year.nil? %>
        <% if citation.pub_year.to_i != year  -%>
            <div class='pub_year'><%= citation.pub_year %></div>
        <% end %>
      <% end %>
      <p>
      <%=raw citation.formatted %>
      </p>
      
    <% if citation.pdf.exists? %>
      <div class='non-member'>
        <%= link_to 'abstract + pdf', citation_path(citation) %>
      </div>
      <div class='member-only'>
        <%= link_to 'abstract', citation_path(citation) %>
        <%= link_to 'pdf', download_citation_path(citation)%>
      </div>
    <% else %>
      <div class='non-member'>
        <%= link_to 'abstract', citation_path(citation) %>
      </div>
      <div class='member-only'>
        <%= link_to 'abstract', citation_path(citation) %>
      </div>
    <% end %>

  </li>
</div>
<% end %>
