<div id=<%= citation.id %> >
  <li class='citation'>
    <% if year < 0 %>
      <% if citation.pub_year.to_i != year  %>
        <% if @study %>
          <div class='pub-year'>Forthcoming <%= humanize_citation_type(@type)%> from the <%= @study.name %></div>
        <% else %>
          <div class='pub-year'>Forthcoming <%= humanize_citation_type(@type) %></div>
        <% end %>
      <% end %>
    <% else %>
      <% if citation.pub_year.to_i != year  %>
        <div class='pub-year'><%= citation.pub_year %></div>
      <% end %>
    <% end %>
    <% cache(citation, action: 'index') do %>
      <div>
        <p><%=citation.author_and_year(long: true) %><em><%= citation.title %></em>. <%= citation.publication %> <%= citation.volume_and_page %>,
      <% if citation.doi.present? %>
        <span> <em>DOI: <%= link_to citation.doi, normalize_doi(citation.doi) %></em></span>
      <% end %>
      <% if citation.has_lter_acknowledgement == true %>
        <span class="lterack">LTER</span>
      <% end %>
        </p>
        <div>
          <div class="citation-footer">
            <div>
              <% if citation.pdf.attached? && citation.open_access %>
                <span class='non-member'>
                  <%= link_to 'abstract', citation_path(citation) %>
                  &nbsp;&nbsp;
                  <%= link_to 'pdf', publication_url(citation)%>
                </span>
                <span class='member-only'>
                  <%= link_to 'abstract', citation_path(citation) %>
                  &nbsp;&nbsp;
                  <%= link_to 'pdf', publication_url(citation)%>
                </span>
              <% elsif citation.pdf.attached? %>
                <span class='non-member'>
                  <%= link_to 'abstract + pdf', citation_path(citation) %>
                </span>
                <span class='member-only'>
                  <%= link_to 'abstract', citation_path(citation) %>
                  &nbsp;&nbsp;
                  <%= link_to 'pdf', publication_url(citation)%>
                </span>
              <% else %>
                <span class='non-member'>
                  <%= link_to 'abstract', citation_path(citation) %>
                </span>
                <span class='member-only'>
                  <%= link_to 'abstract', citation_path(citation) %>
                </span>
              <% end %>
              <span>&nbsp;</span>
              <% if citation.data_url.present? %>
                <span>&nbsp;<a href="<%= normalize_doi(citation.data_url) %>">data</a>&nbsp;</span>
              <% else %>
                <span>&nbsp;</span>
              <% end %>
            </div>
            <% if citation.doi.present? %>
                <span>&nbsp;(<%=normalize_doi(citation.doi)%>)</span>
              <% else %>
              <span>&nbsp;(<%= "https://lter.kbs.msu.edu/pub/#{citation.id}" %>)</span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </li>
</div>
