<div id=<%= citation.id %> >
  <li class='citation'>
      <% unless year.nil? %>
        <% if citation.pub_year.to_i != year  -%>
            <div class='pub_year'><%= citation.pub_year %></div>
        <% end %>
      <% end %>
      <p>
      <%=raw citation.formatted %>
      </p>
    <div class='non-member'>
      <% if citation.pdf.exists? -%>
        <%= link_to 'abstract + pdf', citation_path(citation) %>
      <% else -%>
        <%= link_to 'abstract', citation_path(citation) %>
      <% end -%>
    </div>
    <div class='member-only'>
      <%= link_to 'abstract', citation_path(citation) %>
      <% if citation.pdf.exists? %>
        <%= link_to 'pdf', download_citation_path(citation)%>
      <% end %>
    </div>
  </li>
</div>
