<div id=<%= citation.id %> >
  <li class='citation'>
    <% if year < 0 %>
      <% if citation.pub_year.to_i != year  %>
        <% if @study %>
          <div class='pub-year'>Forthcoming <%= humanize_citation_type(@type)%> from the <%= @study.name %></div>
        <% else %>
          <div class='pub-year'>Forthcoming <%= humanize_citation_type(@type) %></div>
        <% end %>
      <% end %>
    <% else %>
      <% if citation.pub_year.to_i != year  %>
        <div class='pub-year'><%= citation.pub_year %></div>
      <% end %>
    <% end %>
    <% cache(citation, action: 'index') do %>
      <div>
        <p><%=citation.formatted(long: true) %>
         <% if citation.doi.present? %>
           <span> <em>DOI: <%= citation.doi %></em></span>
      <% end %>
        </p>
        <div>
          <div class="citation-footer">
            <div>
              <% if citation.open_access && citation.doi.present? %>
                <span><%= link_to "DOI: #{citation.doi}", normalize_doi(citation.doi) %> </span>
                <% if citation.data_url.present? %>
                  <span> <a href="<%= normalize_doi(citation.data_url) %>">data</a> </span>
                <% end %>
              <% else %>
                <% if citation.pdf.attached? %>
                  <span class='non-member'>
                    <%= link_to 'abstract + pdf', citation_path(citation) %>
                  </span>
                  <span class='member-only'>
                    <%= link_to 'abstract', citation_path(citation) %>
                    <%= link_to 'pdf', publication_url(citation)%>
                  </span>
                <% else %>
                  <span class='non-member'>
                    <%= link_to 'abstract', citation_path(citation) %>
                  </span>
                  <span class='member-only'>
                    <%= link_to 'abstract', citation_path(citation) %>
                  </span>
                <% end %>
                <% if citation.data_url.present? %>
                  <span> <a href="<%= normalize_doi(citation.data_url) %>">data</a> </span>
                <% end %>
                <% if citation.doi.present? %>
                  <span>
                    <a href="<%= normalize_doi(citation.doi) %>"> <%=normalize_doi(citation.doi)%> </a>
                  </span>
                <% end %>
              <% end %>
            </div>
            <% if citation.pdf.attached? && !citation.doi.present? %>
              <span>&nbsp;(<%= "https://lter.kbs.msu.edu/pub/#{citation.id}" %>)</span>
            <% end %>
            <% if signed_in? and current_user.role == 'admin' or Rails.env == 'development' -%>
              <span> <%= button_to 'Edit', edit_citation_path(citation) %> </span>
              <%= button_to 'Delete', { :action => "destroy", :id => citation.id },
                :confirm => "Are you sure?", :method => :delete  %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </li>
</div>
