<%= form.inputs do %>
  <%= form.input :type, :as => :select, :collection => Citation.select_options %>
  <%= form.input :doi %>
  <%= form.input :state, :collection => ['draft', 'submitted','forthcoming','published'] %>
<% end %>
<%= form.inputs do %>
  <%= form.input :author_block, :label => 'Authors', :as=>:text, :input_html => { :class => 'autogrow author_block', :rows => 10 }%>
<% end %>
<%= form.inputs do %>
    <%= form.input :editor_block, :label => 'Editors', :as => :text, :input_html => { :class => 'autogrow author_block', :rows => 10}%>
<% end %>

<%= form.inputs do %>
  <%= form.input :title, :input_html => {:rows => 2} %>
  <%= form.input :secondary_title %>
  <%= form.input :series_title %>
  <%= form.input :abstract %>
  <%= form.input :pub_year, :input_html => {:size=> 20}%>
  <%= form.input :pub_date, as: :date_picker %>
  <%= form.input :publication %>
  <%= form.input :start_page_number, :input_html => {:size=>10}%>
  <%= form.input :ending_page_number, :input_html =>{:size => 10} %>
  <%= form.input :periodical_full_name, :input_html => {:rows => 2} %>
  <%= form.input :periodical_abbreviation %>
  <%= form.input :volume, :input_html => {:size=>10} %>
  <%= form.input :issue, :input_html => {:size=>10} %>
  <%= form.input :isbn, :input_html => {:size => 20 }%>
  <%= form.input :publisher_url %>
  <%= form.input :full_text %>
  <%= form.input :publisher %>
  <%=form.input :address, :input_html => {:rows => 3} %>
  <%= form.input :city %>
  <%= form.input :notes %>
  <%= form.input :open_access %>
  <%= form.input :has_lter_acknowledgement %>
<% end %>

<%= form.inputs do %>
<%= form.input :annotation %>

<%= form.input :pdf , :as => :file%>
<% end %>

<%= form.inputs name: "Datatables" do %>
<div id='datatables'>
    <%= form.input :datatables, :input_html => { :class => 'myselect myselect-wide' } %>
</div>
<% end %>
<%= form.inputs name: "Treatment Areas" do %>
<div id='treatments'>
    <%= form.input :treatments, :input_html => { :class => 'myselect' } %>
</div>
<% end %>
