<%= form.inputs:citation_type %>
<%= form.inputs do %>
  <%= form.input :state, :as => :radio,  :collection => ['submitted','forthcomming','published'] %>
<% end %>
<div id='authors'>
  <%= form.inputs :for=> :authors do |f| %>
    <%= render :partial => 'author_fields', :locals => {:f=>f} %>
  <% end %>
</div>

<%= link_to_add_fields "Add Author", form, :authors %>

<%= form.inputs :title, :abstract, :pub_year, :publication, :start_page_number, :ending_page_number, :periodical_full_name,
    :periodical_abbreviation, :volume, :issue, :isbn, :publisher_url, :full_text, :publisher, :address, :city %>
<%= form.inputs :pdf , :as => :file%>
