<%= form.inputs do %>
  <%= form.input :type, :as => :select, :collection => Citation.select_options %>
<% end %>
<%= form.inputs :doi %>
<%= form.inputs do %>
  <%= form.input :state, :as => :radio,  :collection => ['submitted','forthcoming','published'] %>
<% end %>
<h2>Authors</h2>
<%= form.inputs do %>
  <%= form.input :author_block, :label => 'Authors', :as=>:text, :input_html => { :class => 'autogrow author_block', :rows => 10 }%>
<% end %>
<h2>Editors</h2>
<div id='editors'>
  <%= form.inputs do %>
    <%= form.input :editor_block, :label => 'Editors', :as => :text, :input_html => { :class => 'autogrow author_block', :rows => 10}%>
  <% end %>
</div>
<h2>Datatables</h2>
<div id='datatables'>
    <%= form.inputs do %>
      <%= form.input :datatables, :input_html => { :class => 'myselect' } %>
    <% end %>
</div>

<%= form.inputs :title, :secondary_title, :series_title, :abstract, :pub_year, :pub_date, :publication,
    :start_page_number, :ending_page_number, :periodical_full_name,
    :periodical_abbreviation, :volume, :issue, :isbn, :publisher_url,
    :full_text, :publisher, :address, :city, :notes, :open_access %>
<%= form.inputs :pdf , :as => :file%>
