<h2>Submitted</h2>
<ul>
  <% @submitted_citations.each do |citation| %>
    <li class='citation'>
    <%=raw formatted_as_default(citation) %>
    <%= link_to 'abstract', citation_url(citation)%>
    <% if citation.pdf.exists? %>
      <%= link_to 'pdf', citation.pdf.url %>
    <% end %>
    </li>
  <% end %>
</ul>
<h2>Forthcoming</h2>
<ul>
  <% @forthcoming_citations.each do |citation| %>
    <li class='citation'>
    <%=raw formatted_as_default(citation) %>
    <%= link_to 'abstract', citation_url(citation)%>
    <% if citation.pdf.exists? %>
      <%= link_to 'pdf', citation.pdf.url %>
    <% end %>
    </li
  <% end %>
</ul>
<h2>Published</h2>
<ul>
<% @citations.each do |citation| %>
  <li class='citation'>
    <%=raw formatted_as_default(citation) %>
    <%= link_to 'abstract', citation_url(citation)%>
    <% if citation.pdf.exists? %>
      <%= link_to 'pdf', citation.pdf.url %>
    <% end %>
  </li>
<% end %>
</ul>
