<% content_for :head do %>
  <title>Publications <%= humanize_citation_type(@type)%></title>
<% end %>
<p>To download copies of articles that are not open-access you will be asked to sign in when you request the pdf copy (instructions provided).
</p>
<p>
<% unless signed_in? %>
  <%= link_to 'sign-in', sign_in_path %>
<% end %>
</p>
<%= render 'search_form', :word => @word, :type => @type, :sort_by => @sort_by %>

  <% if @forthcoming_citations.present? %>
  <% if @study %>
    <h1 class='publication-section'>Forthcoming <%= humanize_citation_type(@type)%> from the <%= @study.name %></h1>
<% else %>
  <h1 class='publication-section'>Forthcoming <%= humanize_citation_type(@type)%> </h1>
<% end %>
<p class='synopsis indent'>Papers accepted but not yet published.</p>
 <ul class='citations'>
  <%= render :partial => 'citation', :collection => @forthcoming_citations, :locals => {:year => nil} %>
</ul>
<% end %>
<% if @study %>
  <h1 class='publication-section'>Published <%= humanize_citation_type(@type) %> from the <%= link_to @study.name, @study.url %> <%= @treatment.try(:name) %> (alphabetical by year)</h1>
<% else %>
  <h1 class='publication-section'>Published <%= humanize_citation_type(@type)%> (alphabetical by year)</h1>
<% end %>
<ul class='citations'>
<% year = 0 -%>
<% @citations.each do |citation| %>
  <%= render 'citation', :citation=>citation, :year => year %>
  <% year = citation.pub_year.to_i -%>
<% end %>
</ul>
