<p><%= formatted_as_default(@citation) %></p>
<p><%= @citation.abstract %></p>
<% if @citation.doi %>
  <p>DOI: <%= @citation.doi %></p>
<% end %>
<% if @citation.publisher_url %>
  <p><%= link_to @citation.publisher_url, @citation.publisher_url %></p>
<% end %>
<% if @citation.pdf.exists? %>
  <% if signed_in? or Rails.env == 'development'%>
    <%=link_to 'pdf', @citation.pdf.url  if @citation.pdf.url %>
  <% end %>
<% end %>
