<% cache do %>
  <p><%= raw @citation.formatted  %></p>
  <p><%=raw textilize(@citation.abstract) %></p>
  <% if @citation.doi %>
    <p>DOI: <a href="http://dx.doi.org/<%= @citation.doi %>"><%= @citation.doi %></a></p>
  <% end %>
  <% if @citation.publisher_url %>
    <p><%= link_to @citation.publisher_url, @citation.publisher_url %></p>
  <% end %>
<% end %>
<p>
Download citation to
<%= link_to 'endnote', citation_path(@citation, :format=>'enw') %>
<%= link_to 'bibtex',  citation_path(@citation, :format=>'bib') %>
</p>
<% if @citation.pdf.exists? %>
  <% if signed_in? or @citation.open_access %>
    <%=link_to 'Get PDF', download_citation_path(@citation), :class=>'download-link'%>
  <% else %>
    <%= link_to 'Sign in to download PDF', sign_in_path, :class=>'download-link'  %>
  <% end %>
<% end %>
<% if signed_in? and current_user.role == 'admin' %>
  <%= link_to 'Edit', edit_citation_path(@citation) %>
  <%= button_to 'Delete', { :action => "destroy", :id => @citation.id },
    :confirm => "Are you sure?", :method => :delete  %>
<% end %>
