<li id="abstract_<%= abstract.id %>" class="citation">
<%= truncate(abstract.authors, :length=>80) %>
<%= link_to "#{abstract.title}", abstract_path(abstract) %>
<% if abstract.pdf.exists? %>
  <%=link_to 'pdf', download_abstract_path(abstract) %>
<% end %>

<% if admin? %>
  <%= link_to 'Edit', edit_abstract_path(abstract) %>
  <%= link_to image_tag("trash.gif"), abstract_path(abstract), 
    :confirm => 'Are you sure?',
    :class => 'deleter' %>
  <% end %>
  </li>
