<p>
  <%= f.label      :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label       :date, 'Start Date' %>
  <%= f.date_select :date %>
</p>
<p>
  <%= f.label       :date_to, 'End Date' %>
  <%= f.date_select :date_to %>
</p>
<p>
  <%= f.select :venue_type_id, @venues %>
</p>
<p>
  <%= f.label     :announcement %>
  <%= f.text_area :announcement, :size => '60x20'%>
</p>
