<h1><%= @venue.name.capitalize %> Meetings</h1>

<p><%= @venue.description %></p>
<p>Abstracts from past and current meetings are available below:</p>
<ul>
<% @meetings.each do |meeting| %>
	<li id="meeting_<%=meeting.id%>"><%= link_to "#{meeting.title}", meeting_path(meeting) %> <%= meeting.date.to_s %>
          <% if signed_in? %>
            <%= link_to 'edit', edit_meeting_path(meeting), {:class => 'edit'} %>
            <%= link_to image_tag("trash.gif"), meeting,
                :confirm => 'Are you sure?',
                :method  => :delete,
                :remote  => true %>
          <% end %>
        </li>
<% end %>
</ul>

<%= link_to 'new meeting', new_meeting_path() if signed_in? %>