<% content_for :head do %>
  <title>KBS LTER Meetings</title>
<% end %>
<%= render 'shared/breadcrumbs', :crumbs => [{:name => controller_name.upcase}] %>

<div class='page type-page hfeed'>
  <div class="entry-content">

    <div class="one-half first">
      <h1 class='entry-title'>LOCAL MEETINGS</h1>
      <p><%= @local_venue.description %></p>
      <p>Abstracts from past and current meetings are available below:</p>
        </div>
    <div class="one-half">
      <h1 class='entry-title'>NATIONAL MEETINGS</h1>
      <p><%= @national_venue.description %></p>
      <p>Abstracts from past and current meetings are available below:</p>
        </div>
        <div class="one-half first">
      <ul>
        <% @local_meetings.each do |meeting| %>
          <li id="meeting_<%=meeting.id%>"><%=link_to "#{meeting.date.year} #{meeting.title}", meeting_path(meeting) %>
          <% if signed_in? %>
            <%= link_to 'edit', edit_meeting_path(meeting), {:class => 'edit'} %>
            <%= link_to image_tag("trash.gif"), meeting,
              :confirm => 'Are you sure you want to delete this meeting?',
              :class => 'deleter' %>
          <% end %>
          </li>
        <% end %>
      </ul>

      <%= link_to 'new meeting', new_meeting_path() if signed_in? %>
    </div>
        <div class="one-half">
      <ul>
        <% @national_meetings.each do |meeting| %>
          <li id="meeting_<%=meeting.id%>"><%=link_to "#{meeting.date.year} #{meeting.title}", meeting_path(meeting) %>
          <% if signed_in? %>
            <%= link_to 'edit', edit_meeting_path(meeting), {:class => 'edit'} %>
            <%= link_to image_tag("trash.gif"), meeting,
              :confirm => 'Are you sure you want to delete this meeting?',
              :class => 'deleter' %>
            <% end %>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
