<%= render 'shared/breadcrumbs', :crumbs => [{:name => controller_name.upcase}] %>

<div class='page type-page hfeed'>
  <h1 class='entry-title'><%= @venue.name.upcase%> MEETINGS</h1>
  <div class="entry-content">

    <p><%= @venue.description %></p>
    <p>Abstracts from past and current meetings are available below:</p>
    <ul>
      <% @meetings.each do |meeting| %>
        <li id="meeting_<%=meeting.id%>"><%=link_to "#{meeting.date.year} #{meeting.title}", meeting_path(meeting) %>
        <% if signed_in? %>
          <%= link_to 'edit', edit_meeting_path(meeting), {:class => 'edit'} %>
          <%= link_to image_tag("trash.gif"), meeting,
            :confirm => 'Are you sure you want to delete this meeting?',
            :class => 'deleter' %>
          <% end %>
          </li>
        <% end %>
      </ul>

      <%= link_to 'new meeting', new_meeting_path() if signed_in? %>
    </div>
    <>
