<h1>New meeting</h1>

<%= form_for(:meeting, :url => meetings_path) do |f| %>
  <%= render "shared/error_messages", :target => @meeting %>
  <%= render :partial=>"form" , :locals=>{:f => f, :venues => venues}%>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', meetings_path %>
