<h1><%= @meeting.title %></h1>

<% if @meeting.announcment %>
<p><%= textilize(@meeting.announcement) %></p>
<% end %>
<% if @meeting.meeting_abstracts.size > 0 %>
<h3>Presentation Titles.</h3><p>Please click on titles for abstracts.</p>
<% end %>
<ul>
	<% @meeting.meeting_abstracts.each do | abstract| %>
	<li class="citation">
		<%= abstract.authors %>
		<%= link_to "#{abstract.title}", meeting_abstract_path(abstract) %>
		<%= link_to 'Edit', edit_meeting_abstract_path(abstract) if logged_in? %>
	</li>
	<% end %>
</ul>
<p><%= @meeting.date.to_s(:long) %></p>
