<h1><%= @meeting.title %></h1>

<p><%= @meeting.date.to_s(:long) %></p>
<p><h3>Presentation Titles.</h3> Please click on titles for abstracts.</p>
<p><%= @meeting.announcement %></p>
<ul>
	<% @meeting.meeting_abstracts.each do | abstract| %>
	<li class="citation">
		<%= abstract.authors %>
		<%= link_to "#{abstract.title}", meeting_abstract_path(abstract) %>
		<%= link_to 'Edit', edit_meeting_abstract_path(abstract) if logged_in? %>
	</li>
	<% end %>
</ul>