<tr>
  <td><%= f.select :role_id, lter_roles.map {|x| [x.name, x.id] }, :include_blank => true %></td>
  <td><%= f.text_field :title %></td>
  <td><%= f.text_field :seniority %></td>
  <td><%= f.text_field :research_interest %></td>
  <td><%= f.text_field :supervisor %></td>
  <td><%= f.check_box :_destroy %></td>
</tr>
