<div class='row'>
  <div class='one-half first'>
    <%= f.inputs do %>
    <%= f.input :sur_name %>
    <%= f.input :middle_name %>
    <%= f.input :given_name %>
    <%= f.input :friendly_name %>
    <%= f.input :title %>
    <%= f.input :organization %>
    <%= f.input :sub_organization %>
    <%= f.input :url, :label => 'Website' %>
    <%= f.input :orchid_id, label: 'ORCHID' %>
  <% end %>
  </div>
  <div class='one-half'>
    <%= f.inputs do %>
    <%= f.input :street_address %>
    <%= f.input :city %>
    <%= f.input :locale %>
    <%= f.input :country, priority_countries: ["US", "GB", "AU"]   %>
    <%= f.input :postal_code %>
    <%= f.input :phone, :label => 'Phone Number' %>
    <%= f.input :fax, :label  => 'Fax Number' %>
    <%= f.input :email %>
  <% end %>
  </div>
</div>

<div class='row clear'>
<table id='affiliations'>
  <%= f.semantic_fields_for :affiliations do |builder| %>
    <%= render 'affiliation_fields', f: builder %>
  <% end%>
</table>
 <%= link_to_add_fields "Add Role", f, :affiliations %>
 </div>
