<div class='row'>
  <div class='one-half first'>
    <%= f.input :sur_name %>
    <%= f.input :middle_name %>
    <%= f.input :given_name %>
    <%= f.input :friendly_name %>
    <%= f.input :title %>
    <%= f.input :organization %>
    <%= f.input :sub_organization %>
  </div>
  <div class='one-half'>
    <%= f.input :street_address %>
    <%= f.input :city %>
    <%= f.input :locale %>
    <%= f.input :country %>
    <%= f.input :postal_code %>
    <%= f.input :phone, :label => 'Phone Number' %>
    <%= f.input :fax, :label  => 'Fax Number' %>
    <%= f.input :email %>
    <%= f.input :url, :label => 'Website' %>
  </div>
</div>

<div class='row clear'>
<table id='affiliations'>
  <tr>
    <th>Role</th>

    <th>Title</th>
    <th>Seniority</th>
    <th>Research Interest</th>
    <th>Supervisor</th>
    <th>Delete</th>
  </tr>
  <%= f.simple_fields_for :affiliations do |builder| %>
    <%= render 'affiliation_fields', f: builder %>
  <% end%>
</table>
 <%= link_to_add_fields "Add Role", f, :affiliations %>
 </div>
