<h1>Editing person</h1>

<%= simple_form_for person do |f| %>
  <%= render "shared/error_messages", :target => person %>
  <%= render 'form', :f => f %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', person_path(person) %> |
<%= link_to 'Back', people_path %>
