<p>categorical <%= link_to 'alphabetical', {:action => :alphabetical} %></p>

	<% @roles.each do |role| -%>
	<h2><%= role.name %></h2>
	<% if role.id == 23 then %>
	  <ul>
	    <li>
	      Science Council
	      <% role.people.each do |person|%>
	      <% next unless person.affiliations.find_by_role_id(role).title == 'Science Council'%>
	      <%= link_to "#{person.full_name}", person_path(person) %>
	      <% end %>
	    </li>
	    <li>
	     Education Committee
	      <% role.people.each do |person|%>
	      <% next unless person.affiliations.find_by_role_id(role).title == 'Education Committee'%>
	      <%= link_to "#{person.full_name}", person_path(person) %>
	      <% end %>
	    </li>
	    <li>
	     Graduate Student Committee
	      <% role.people.each do |person|%>
	      <% next unless person.affiliations.find_by_role_id(role).title == 'Graduate Student Committee'%>
	      <%= link_to "#{person.full_name}", person_path(person) %>
	      <% end %>
	    </li>
	    <li>
	     Information Management Committee
	      <% role.people.each do |person|%>
	      <% next unless person.affiliations.find_by_role_id(role).title == 'Information Management Committee'%>
	      <%= link_to "#{person.full_name}", person_path(person) %>
	      <% end %>
	    </li>
	    <li>
	     Social Science Committee
	      <% role.people.each do |person|%>
	      <% next unless person.affiliations.find_by_role_id(role).title == 'Social Science Committee'%>
	      <%= link_to "#{person.full_name}", person_path(person) %>
	      <% end %>
	    </li>
	  </ul>
	<% else %>
	<% people = role.people.sort {|a,b| a.affiliations.find_by_role_id(role).seniority.to_s + a.sur_name <=>  b.affiliations.find_by_role_id(role).seniority.to_s + b.sur_name} %>
	<ul class='multicolumn'>
	<% people.each do |person| -%>
  	<li><%= link_to "#{person.full_name}", person_path(person) %> <%= person.affiliations.find_by_role_id(role).title %>
			<%= link_to 'Edit', edit_person_path(person), {:class => 'edit'} if logged_in? %>
			<%= link_to_remote image_tag("trash.gif"), :url => person_path(person), :method => 'delete', :confirm => 'Are you sure?' if logged_in?%>
  	</li>
	<% end %>
	</ul>
	<% end %>
  <% end %>
<br />

<%= link_to 'Emeritus...', {:action => 'emeritus' } %>
<%= link_to 'New person', new_person_path if logged_in?%>