<% if @person.only_emeritus? %>
  <%= render :partial => 'emeritus', :locals => {:person => @person}%>
<% else %>
  <ul>
  	<li class='person-name'><%= @person.given_name %> <%= @person.middle_name %>  <%= @person.sur_name %></li>
  	<% if @person.title and @person.title.strip != '' -%>
    	<li class='person_title'><%= @person.title %></li>
    <% end -%>
  	<% if @person.sub_organization and @person.sub_organization.strip != '' -%>
    	<li><%= @person.sub_organization %></li>
  	<% end -%>
  	<% if @person.organization and @person.organization.strip != '' -%>
    	<li><%= @person.organization%></li>
  	<% end -%>
  	<% if @person.complete_address? %>
    	<li class='address'><%= @person.address %></li>
  	<% end -%>
	
  	<% if @person.email and @person.email.strip != '' -%>
    	<li class='person-email'><%= contact_link(@person.email) %></li>
  	<% end -%>
  	<% if @person.phone and @person.phone.strip != '' -%>
    	<li>
      	<%= @person.phone %>
    		<% if @person.fax and @person.fax.strip != '' %>
          | fax: <%= @person.fax %>
        <% end %>
	    </li>
	  <% end -%>
	  <% if @person.url and @person.url.strip != ''-%>
	    <li><%= link_to "#{@person.url.gsub(/http:\/\//,'')}", @person.url%></li>
	  <% end -%>

  </ul>

  <% committees = @person.get_committee_roles -%>
  <% unless committees.empty? %>
    <ul>
      Committees:
      <% committees.each do |committee| %>
        <li><%= committee%></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
	
<%= link_to 'Edit', edit_person_path(@person) if signed_in? %> |
<%= link_to 'Delete', person_path(@person), :method => 'post', :confirm => 'Are you sure?' if signed_in? %>
<%= link_to 'Back', people_path %>
