<% if @person.only_emeritus? %>
  <%= render :partial => 'emeritus', :locals => {:person => @person}%>
<% else %>
  <ul>
    <li class='person-name'><%= @person.expanded_name %></li>
    <% if @person.title.present? -%>
      <li class='person_title'><%= @person.title %></li>
    <% end -%>
    <% if @person.sub_organization.present? -%>
      <li><%= @person.sub_organization %></li>
    <% end -%>
    <% if @person.organization.present? -%>
      <li><%= @person.organization%></li>
    <% end -%>
    <% if @person.complete_address? %>
      <li class='address'><%= @person.address %></li>
    <% end -%>
	
    <% if @person.email.present? -%>
      <li class='person-email'><%=contact_link(@person.email) %></li>
    <% end -%>
    <% if @person.phone.present? -%>
      <li>
      	<%= @person.phone %>
        <% if @person.fax.present? %>
          | fax: <%= @person.fax %>
        <% end %>
      </li>
    <% end -%>
    <% if @person.url.present? -%>
      <li><%= link_to "#{@person.url.gsub(/http:\/\//,'')}", @person.url%></li>
    <% end -%>

  </ul>

  <% committees = @person.get_committee_roles -%>
  <% unless committees.empty? %>
    <ul>
      Committees:
      <% committees.each do |committee| %>
        <li><%= committee%></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
	
<%= link_to 'Edit', edit_person_path(@person) if signed_in? %> |
<%= link_to 'Delete', person_path(@person), :method => 'post', :confirm => 'Are you sure?' if signed_in? %>
<%= link_to 'Back', people_path %>
