<h1>Editing variate</h1>

<%= form_for(:variate, :url => variate_path(@variate), :html => { :method => :put }) do |f| %>
  <%= render "shared/error_messages", :target => @variate %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', variate_path(@variate) %> |
<%= link_to 'Back', variates_path %>