<h1>Editing publications</h1>

<%= form_for(:publication, :url => publication_path(@publication), :html => { :multipart => true, :method => :put }) do |f| %>
  <%= render "shared/error_messages", :target => @publication %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', publication_path(@publication) %> |
<%= link_to 'Back', publication_path %> | 
<%= link_to 'log out', session_path(), :method => 'delete' %>