<div id='search_form'>
  <%= form_tag '/publications', :method => 'get'%>
    <%= text_field_tag :word, @word, :size => 60 %>
    <%= submit_tag "Search" %>
</div>
<h1>Publications <%= @decoration %>: <%=h @pub_type%> </h1>
<% year = 0 -%>
<% for publication in @publications %>
	<% if year != publication.year -%>
		<% year = publication.year -%>
		<% unless @alphabetical -%>
			<p class='years'><%= year %></p>
		<% end  -%>
	<% end  -%>
	<div id="<%= publication.id%>"class='citation'>
			<%= textilize(publication.citation) if publication.citation %>
			<% if  publication.abstract && publication.abstract != ""  -%>
				<a href="<%= url_for publication_path(publication) %>">
					abstract&nbsp;&hellip;</a>
			<% end -%>
			<%= link_to_remote 'document', :url =>  publication.public_filename if publication.filename %>
			<%= link_to 'edit', edit_publication_path(publication) if admin?%>
	</div>
<% end %>
<p>
    <%= link_to 'new publication', new_publication_path if admin? %>
    <%= link_to 'login', new_session_path unless signed_in? %>
</p>

