<h1>New publications</h1>

<%= form_for(:publication, :url => publications_path, :html => {:multipart => true}) do |f| %>
  <%= render "shared/error_messages", :target => @publication %>
  <%= render :partial => 'form', :locals => { :f => f, :publication_types => @publication_types, :publication => @publication, :treatments => @treatments } %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', publications_path %>