<li>
  <div class='droppable'></div>
  <span id="<%= theme.id %>" draggable='true'>
    <%= theme.name %> <%= link_to 'Edit', edit_theme_path(theme.id) %>
  </span>
  <input type='hidden' value="<%=theme.id %>">
  <% if theme.children.present? %>
    <ul>
      <%= render theme.children %>
    </ul>
  <% end %>
</li>
