<tr>
  <td><%= select_tag 'dataset[affiliations_attributes][][person_id]', options_from_collection_for_select(people, :id, :short_full_name, :selected => affiliation.person_id)%></td>
  <td><%= select_tag 'dataset[affiliations_attributes][][role_id]',  options_from_collection_for_select(roles, :id, :name, :selected => affiliation.role_id) %></td>
  <td>	<%= text_field_tag 'dataset[affiliations_attributes][][seniority]', affiliation.seniority, :size => 5 %>
    <%= hidden_field_tag 'dataset[affiliations_attributes][][id]', affiliation.id %>
    </td>
    <td>
		  <%= check_box_tag 'dataset[affiliations_attributes][][_delete]' %> delete
		</td>
</tr>