<methodStep>
  <description><%= protocol.abstract %></description>
  <protocol id='protocol_<%= protocol.id %>'>
    <title><%= protocol.title %></title>

    <%= render :partial => 'creator', :locals => {:creators => protocol.people}, :format => 'eml'  %>

    <distribution>
      <online>
        <url> <%= protocol_url(protocol) %> </url>
      </online>
    </distribution>
  </protocol>
</methodStep>
