<methodStep>
  <description><%= protocol.abstract %></description>
  <protocol id='protocol_<%= protocol.id %>'>
    <title><%= protocol.title %></title>
    <!-- eml_creator -->
    <distribution>
      <online>
        <url>
          http://<%=website_name%>.kbs.msu.edu/protocols/<%=protocol.id%>
        </url>
      </online>
    </distribution>
  </protocol>
</methodStep>
