<h1>Editing dataset <%=@dataset.dataset %></h1>

<%= semantic_form_for @dataset, :html => { :multipart => true } do |form| %>
  <%= render "shared/error_messages", :target => @dataset %>
  <%= render 'form', :form => form, :datatable => @dataset %>
  <%= form.action :submit %>
<% end %>

<%= link_to 'Show', dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>
