<dl id='all datasets'>
  <% @datasets.each do |dataset| %>
    <% next unless dataset.on_web %>
    <% if dataset.core_dataset %>
      <dt class='core-dataset'>
    <% elsif dataset.datatables.size == 0 %>
      <dt class='no-data'>
    <% else %>
      <dt>
    <% end %>
    <%= link_to "#{dataset.dataset}: #{dataset.title}" , dataset_path(dataset) %></dt>
    <dl>
      <p>
      <%= textilize(dataset.abstract) %>
      </p>
      <ul>
        <% dataset.creators.each do |creator| %>
          <li><%= creator.full_name %></li>
        <% end %>
      </ul>
      <%= link_to  'Edit', edit_dataset_path(dataset), {:class => 'edit'} if signed_in? %>
    </dl>
  <% end %>
</dl>
		
<%= link_to 'New dataset', new_dataset_path if signed_in? %> | 
<%= link_to 'login', new_session_path %>
