<h1>New dataset</h1>

<%= semantic_form_for @dataset do |form| %>
  <%= render "shared/error_messages", :target => @dataset %>
  <%= form.inputs :title, :abstract %>
  <%= form.inputs do %>
    <%= form.input :keyword_list, :label => 'Keywords' %>
  <% end %>
  <%= form.buttons %>
<% end %>

<%= link_to 'Back', datasets_path %>