<?xml version="1.0" encoding="UTF-8"?>
<eml:eml xmlns:eml="eml://ecoinformatics.org/eml-2.1.1" xmlns:stmml="http://www.xml-cml.org/schema/stmml-1.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="eml://ecoinformatics.org/eml-2.1.1 http://lter.kbs.msu.edu/docs/eml.xsd" packageId="<%= @dataset.package_id %>" system="KBS LTER">
  <access scope="document" order="allowFirst" authSystem="knb">
    <allow>
      <principal>uid=KBS,o=lter,dc=ecoinformatics,dc=org</principal>
      <permission>all</permission>
    </allow>
    <allow>
      <principal>public</principal>
      <permission>read</permission>
    </allow>
  </access>
  <dataset id="<%= dataset_url(@dataset, :format => 'eml') %>">
    <title>Kellogg Biological Station LTER: <%= @dataset.title + @dataset.date_range %></title>
    <%= render :partial => 'creator', :locals => {:creators => @dataset.creators}, :format => 'eml' %>

    <!-- <eml_people></eml_people> -->

    <!-- eml_pubdate -->
    <pubDate><%= Date.today %></pubDate>

    <!-- eml_abstract -->
    <% unless @dataset.abstract.empty? -%>
    <abstract>
      <section>
        <title>Dataset Abstract</title>
        <para>
          <%= textilize(@dataset.abstract) %>
        </para>
      </section>
    </abstract>
    <% end -%>

    <!-- keyword_sets -->
    <keywordSet>
      <% @dataset.place_keyword_set.each do |keyword| %>
      <keyword type='place'><%= keyword %></keyword>
      <% end %>
    </keywordSet>
    <!-- eml_keywords -->
    <% if @dataset.keyword_list.present? %>
    <keywordSet>
      <% @dataset.keyword_list.each do |keyword| %>
      <keyword><%= keyword %></keyword>
      <% end %>
    </keywordSet>
    <% end %>
    <!-- eml_coverage -->
    <coverage>
      <geographicCoverage>
        <geographicDescription>The areas around the Kellog Biological Station in southwest Michigan </geographicDescription>
        <boundingCoordinates>
          <westBoundingCoordinate>-85.404699</westBoundingCoordinate>
          <eastBoundingCoordinate> -85.366857</eastBoundingCoordinate>
          <northBoundingCoordinate>42.420265</northBoundingCoordinate>
          <southBoundingCoordinate>42.391019</southBoundingCoordinate>
        </boundingCoordinates>
      </geographicCoverage>
      <temporalCoverage>
        <rangeOfDates>
          <beginDate><%= @dataset.begin_date %></beginDate>
          <endDate><%= @dataset.end_date %></endDate>
        </rangeOfDates>
      </temporalCoverage>
    </coverage>

    <!-- contact_info -->
    <contactInfo>
      <organizationName>Kellogg Biological station</organizationName>
      <positionName>Data Manager</positionName>
      <!-- addresss -->
      <electronicMailAddress>lter.data.manager@kbs.msu.edu</electronicMailAddress>
      <onlineUrl>http://lter.kbs.msu.edu</onlineUrl>
    </contactInfo>

    <!-- publisher -->
    <publisher>
      <organizationName>KBS LTER</organizationName>
    </publisher>

    <!-- methods -->
    <% if @dataset.protocols.size > 0 %>
    <methods>
      <% @dataset.protocols.each do |protocol| %>
        <%= render :partial => 'protocol', :locals => {:protocol => protocol}, :format => 'eml' %>
      <% end %>
    </methods>
    <% end %>

    <!-- datatables -->
    <% @dataset.datatables.where(:on_web => true).each do |datatable| %>
    <%= render :partial => 'datatable', :locals => {:datatable => datatable}, :format => 'eml' %>
    <% end %>

  </dataset>
</eml:eml>
