<h1>Editing Meeting Abstracts</h1>
<%= error_messages_for :meeting_abstracts %>

<% form_for(:meeting_abstract, :url => meeting_abstract_path(@meeting_abstract), 
	:html => { :method => :put }) do |f| %>
	<p>
		<label for='meeting_abstract_title'>Title</label><br/>
		<%= f.text_area :title, :size => '60x3' %>
	</p>
	<p>
		<label for='meeting_abstract_authors'>Authors</label><br/>
		<%= f.text_area :authors , :size => '60x3'%>
	</p>
	<p>
		<label for='meeting_abstract_abstract'>Abstract</label>
		<%= textile_editor 'meeting_abstract', :abstract, :size => '60x20'%>
	</p>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>


<%= link_to 'Show', meeting_abstract_path(@meeting_abstract) %> |
<%= link_to 'Back', meeting_abstract_path %> | 
<%= link_to 'log out', sessions_path(), :method => 'delete' %>

<%= textile_editor_initialize -%>
