<h2>Sign up</h2>

<div class='notice'><%= flash[:failure] %></div>
<div class='notice'><%= flash[:success] %></div>

<div id='point-to-sign-in'>
  Already a Member?
  <div id='sign-in-arrow-border'></div>
  <div id='sign-in-arrow'></div>
</div>

<%= semantic_form_for @user do |form| %>
  <%= hidden_field_tag :invite_code, @invite_code %>
  
  <%= render :partial => "/users/inputs", :locals => { :form => form } %>
  <%= form.actions do %>
    <%= form.action :submit, :label => "Sign up" %>
  <% end %>
<% end %>

