
<h1>Data Catalog</h1>
<p id='datatable-intro'>
  Thrust 4 activities are designed to inform bioenergy research and technology in order to create sustainable bioenergy practices.  The Thrust 4 Data Catalog is a collection that describes existing data and offers opportunities for data sharing.  To access a data table, please request permission from the lead investigator.  Data are copyrighted and use in a publication requires permission as detailed in our Terms of Use.  Please direct questions to the <a href='mailto:glbrc.data@kbs.msu.edu'>T4 GLBRC Data Coordinator</a>.  
</p>
<h2>Terms of Use</h2>
<p>
  Data from the Great Lakes Bioenergy Research Center (GLBRC) Sustainability Thrust (T4) database are copyrighted and use in a publication requires written permission from the lead investigator. These restrictions are intended mainly to preserve the primary investigators' rights to first publication and to ensure that data users are aware of the limitations that may be associated with any specific data set. These restrictions apply to both the core data set and to the data sets associated with specific GLBRC-supported subprojects. All publications with GLBRC T4 data and images must acknowledge the DOE Great Lakes Bioenergy Research Center grant (DOE BER Office of Science DE-FC02-07ER64494).</p>

<div id='search-form'>
  <%= form_tag '/glbrc', :method => 'get'%>
  
      <div id='keyword-search'>
       <%= text_field_tag :keyword_list, @keyword_list || @default_value , {:id => 'keyworder'}  %>
      </div>  
        <div id='search-submit'>
        <%= submit_tag "Search Datacatalog"%>
        </div>
</div>

<ul class='quickTree'>
  <% @studies.each do |study| -%>
  <% next unless study.include_datatables?(@datatables)%>
  
  <%= render :partial => 'study',  :locals => {:study => study}%>
  <% end -%>
</ul>

<h1>Protocols</h1>

<ul>
  <% @protocols.each do |protocol|%>
  <li><%=h protocol %></li>
  <% end %>
</ul>
<h1>Other Data</h1>

<h1>Data Queue</h1>


<%= link_to 'login', new_sessions_path %>
