<p>
  <label for='abstract_type_id'>Type of abstract</label><br/>
  <%= f.select :meeting_abstract_type_id, @abstract_types %>
</p>
<p>
  <label for='abstract_title'>Title</label><br/>
  <%= f.text_area :title, :size => '500x3' %>
</p>
<p>
  <label for='abstract_authors'>Authors</label><br/>
  <%= f.text_area :authors , :size => '500x3'%>
</p>
<p>
  <label for='abstract_author_affiliaations'>Author Affiliations</label><br/>
  <%= f.text_area :author_affiliations , :size => '500x3'%>
</p>
<p>
  <label for='abstract_abstract'>Abstract</label>
  <%= f.text_area :abstract, :size => '500x20'%>
</p>
<p>
  <label for='abstract_file'>File</label>
  <%= f.file_field :pdf %>
</p>

