<h1>Editing Meeting Abstracts</h1>
<% form_for(:abstract, :url => abstract_path(@abstract), 
	:html => { :method => :put }) do |f| %>
  <%= render "shared/error_messages", :target => @abstract %>
  <p>
    <label for='abstract_title'>Title</label><br/>
    <%= f.text_area :title, :size => '60x3' %>
  </p>
  <p>
    <label for='abstract_authors'>Authors</label><br/>
    <%= f.text_area :authors , :size => '60x3'%>
  </p>
  <p>
    <label for='abstract_abstract'>Abstract</label>
    <%= textile_editor 'abstract', :abstract, :size => '60x20'%>
  </p>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>


<%= render :partial => 'navbar', :locals => {:abstract => @abstract} %>

<%= textile_editor_initialize -%>
