<% content_for :head do %>
  <title>KBS LTER Abstracts</title>
<% end %>
<h1>KBS LTER Meeting Abstracts</h1>
<p>Abstracts from KBS LTER All Scientists Meetings and KBS contributions to the National LTER All Scientists meetings. </p>

<ul class ="citations">
  <% @meetings.each do |meeting| %>
    <li>
      <div class='pub-year'>
        <%= meeting.date.year %> <%= meeting.title %>
      </div>
      <ul class='citation'>
        <% meeting.posters_and_presentations.each do |abstract | %>
          <% cache(abstract, action: 'index') do %>
            <div id=<%=abstract.id %>
            <li>
              <p>
                <%= abstract.authors %> <%= meeting.date.year %> <%= abstract.title %>
                <% if abstract.pdf.attached? %>
                  <div>
                    <%=link_to "#{abstract.meeting_abstract_type.name.downcase}", download_abstract_path(abstract) %>
                  </div>
                </p>
              </li>
            </div>
          <% end %>
            <%= link_to 'Edit', edit_abstract_path(abstract) %>
            <%= link_to image_tag('trash.gif'), abstract_path(abstract),
              confirm: 'Are you sure?', class: 'deleter' %>
        <% end %>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>
