<h1>New Meeting Abstract</h1>

<%= form_for(:abstract, :url =>abstracts_path) do |f| %>
  <%= render "shared/error_messages", :target => @abstract %>
  <p>
    <%= f.hidden_field :meeting_id %>
  </p>
  <%= render :partial=>'form', :locals => {:f => f } %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>
