<h1><%= abstract.title %></h1>

<p><%= abstract.authors %></p>

<%= textilize(abstract.abstract) %>

<% if abstract.pdf.exists? %>
  <%=link_to 'Get PDF', download_abstract_path(abstract) %><br/>
<% end %>

<%= render 'navbar', :abstract => @abstract %>
