<h1><%= @abstract.title %></h1>

<p><%= @abstract.authors %></p>

<p><%= textilize(@abstract.abstract) %></p>

<%= link_to 'Edit', edit_abstract_path(@abstract) %> |
<%= link_to 'Back', meeting_path(@abstract.meeting) %> | 
<%= link_to 'Destroy', :url => abstract_path(@abstract), :method => 'post', :confirm => 'Are you sure?' if signed_in?  %>
<%= link_to 'log out', session_path(), :method => 'delete' %>