<%= render 'shared/breadcrumbs',
  :crumbs => [{:name => "MEETINGS", :url =>  url_for(:controller => 'meetings', :action => 'index')},
    {:name => "#{abstract.meeting.date.year} #{abstract.meeting.title}", :url => url_for(:controller => 'meetings', :action => 'show', :id=> abstract.meeting.id)},
    {:name => "#{abstract.authors}"}

] %>
  <div class='page type-page hfeed'>

    <h1 class='entry-title'><%= abstract.title %></h1>

    <div class="entry-content">
      <p><%= abstract.authors %></p>
      <p><%= abstract.author_affiliations %></p>

      <p>Presented at the <%= abstract.meeting.title %> (<%= abstract.meeting.date %> - <%= abstract.meeting.date_to %>)</p>

      <%= textilize(abstract.abstract) %>

      <% if abstract.pdf.exists? %>
        <%=link_to "Get #{abstract.meeting_abstract_type.name.downcase}", download_abstract_path(abstract) %><br/>
      <% end %>

      <%= render 'navbar', :abstract => @abstract %>
    </div>
  </div>
