<h1>New affiliation</h1>

<%= semantic_form_for @affiliation do |form| %>
  <%= render "shared/error_messages", :target => @affiliation %>
  <%= form.input :person %>
  <%= form.input :role %>
  <%= form.input :seniority %>
  <%= form.input :title%>
  <%= form.button :submit %>
<% end %>

<%= link_to 'Back', affiliations_path %>
