<li class="sortable-container">
  <div class='droppable'></div>
  <span id="<%= study.id %>" draggable='true' controller_name='studies'>
    <%= study.name %> <%= link_to 'edit', edit_study_path(study)%>
    <p><%= study.synopsis %></p>
  </span>
  <input type='hidden' value="<%=study.id %>" />
  <% if study.children.present? %>
    <ul class="sortable-tree">
      <%= render study.children %>
    </ul>
  <% end %>
</li>
