<h1>Editing project</h1>

<%= form_for(@project) do |f| %>
  <%= render "shared/error_messages", :target => @project %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :abstract %><br />
    <%= f.text_field :abstract %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>

<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
