<% if signed_in? %>
  <h2>Permissions Management for Datatables Owned by <%= current_user.email %></h2>

  <% Ownership.find_all_by_user_id(current_user.id).each do |ownership| %>
    <h4><%= ownership.datatable.name %>:</h4>
    <ul>
      <li><%= link_to "Modify Permissions for #{ownership.datatable.name}", permission_path(ownership.datatable) %></li>
      <li><%= link_to "View #{ownership.datatable.name}", datatable_path(ownership.datatable) %></li>
    </ul>
  <% end %>
<% else %>
  <%= link_to 'Sign in to manage permissions for your datatables', sign_in_path %> or <%= link_to 'Sign up', sign_up_path %> if you have not done so already.
<% end %>
