<% if signed_in? %>
  <h2>Permissions Management for Datatables Owned by <%= current_user.email %></h2>

  <% @datatables.each do |datatable| %>
    <h4><%= datatable.name %>:</h4>
    <ul>
      <li><%= link_to "Modify Permissions for #{datatable.name}", permission_path(datatable) %></li>
      <li><%= link_to "View #{datatable.name}", datatable_path(datatable) %></li>
    </ul>
  <% end %>
<% else %>
  <%= link_to 'Sign in to manage permissions for your datatables', new_user_session_path%>
<% end %>
