<h2>Permissions for <%= @datatable.name %></h2>

<%= link_to 'Add Permissions', new_permission_path(:datatable => @datatable) %>

<% @permitted_users.each do |user| %>
  <p>
    <%= user.email %> has permission from you.
  </p>
  <% @datatable.owners.each do |owner| %>
      <% next if owner == current_user %>
      <% if user.has_permission_from?(owner, @datatable) %>
        <p><%= user.email %> has permission from <%= owner.email %></p>
      <% else %>
        <p><%= user.email %> still needs permission from <%= owner.email %></p>
      <% end %>
  <% end %>
    <%= button_to "Revoke permission from #{user.email}", { 
          :action => "destroy", 
          :id => @datatable.id, 
          :user => user.id }, 
          :confirm => "Are you sure?", 
          :method => :delete %>

<% end %>
