<h2>Permissions for <%= @datatable.name %></h2>

<%= link_to 'Add Permissions', new_permission_path(:datatable => @datatable) %>

<% @datatable.requesters.each do |requester| %>
  <% next if @permitted_users.include?(requester) %>
  <% if requester.denied_access?(@datatable) %>
    <p>
      <%= requester.email %> has requested permission but it has been denied by:
      <% @datatable.deniers_of(requester).each do |denier| %>
        <%= denier.email %>
      <% end %>
    </p>
  <% else %>
    <p><%= requester.email %> has requested permission.</p>
  <% end %>
  <%= button_to "Grant permission to #{requester.email}", { 
      :action => "create", 
      :id => @datatable.id, 
      :email => requester.email }, 
      :method => :post %>
  <%= button_to "Deny request for #{requester.email}", { 
      :action => "deny", 
      :id => @datatable.id, 
      :email => requester.email }, 
      :method => :put %>
<% end %>
<% @permitted_users.each do |user| %>
  <p>
    <%= user.email %> has permission from you.
  </p>
  <% @datatable.owners.each do |owner| %>
      <% next if owner == current_user %>
      <% if user.has_permission_from?(owner, @datatable) %>
        <p><%= user.email %> has permission from <%= owner.email %></p>
      <% else %>
        <p><%= user.email %> still needs permission from <%= owner.email %></p>
      <% end %>
  <% end %>
  <%= button_to "Revoke permission from #{user.email}", {
        :action => "destroy",
        :id => @datatable.id,
        :user => user.id },
        :confirm => "Are you sure?",
        :method => :delete %>

<% end %>
