<h2>Permissions for <%= @datatable.name %></h2>

<%= link_to 'Add Permissions', new_permission_path(:datatable => @datatable) %>

<% @datatable.pending_requesters.each do |requester| %>
  <p>
    <%= requester %> has requested permission
    <% if @datatable.deniers_of(requester).present? %>
      but it has been denied by: <%= @datatable.deniers_of(requester).join(', ') %>
    <% end %>
    .
  </p>
  <%= button_to "Grant permission to #{requester}", {
      :action => "create",
      :id => @datatable.id,
      :email => requester.email },
      :method => :post %>
  <%= button_to "Deny request for #{requester}", {
      :action => "deny",
      :id => @datatable.id,
      :email => requester.email },
      :method => :put %>
<% end %>
<% @permitted_users.each do |user| %>
  <p>
    <%= user %> has permission from you.
  </p>
  <% @datatable.owners.each do |owner| %>
      <% next if owner == current_user %>
      <% if user.has_permission_from?(owner, @datatable) %>
        <p><%= user %> has permission from <%= owner %></p>
      <% else %>
        <p><%= user %> still needs permission from <%= owner %></p>
      <% end %>
  <% end %>
  <%= button_to "Revoke permission from #{user}", {
        :action => "destroy",
        :id => @datatable.id,
        :user => user.id },
        :confirm => "Are you sure?",
        :method => :delete %>

<% end %>
