<p>Use this page to add owners to 
  <% if @datatable -%>
    <%= @datatable.name %>.
  <% else -%>
    datatables.
  <% end -%>
</p>

<% form_for @ownership do %>
  <%= label_tag 'user' %>
  <div id="user_boxes">
    <%= render :partial => 'userbox', :locals => {:users => @users, :user_count => @user_count}%>
  </div>
  <div id="user_counter">
    <%= render :partial => 'usercounter', :locals => {:user_count => @user_count} %>
  </div>
  <% if @datatable %>
    <%= hidden_field_tag 'datatable', @datatable.id %>
  <% else %>
    <%= label_tag 'datatables' %>
    <div id="datatable_boxes">
      <%= render :partial => 'datatablebox', :locals => {:datatables => @datatables, :datatable_count => @datatable_count} %>
    </div>
    <div id="datatable_counter">
      <%= render :partial => 'datatablecounter', :locals => {:datatable_count => @datatable_count} %>
    </div>
  <% end %>
  <%= submit_tag 'Add Owners' %>
<% end %>
