<h2>Change your password</h2>

<div class='notice'><%= flash[:failure] %></div>
<div class='notice'><%= flash[:success] %></div>


<p>
  Your password has been reset. Choose a new password below.
</p>

<%= semantic_form_for(:user,
            :url  => user_password_path(@user, :token => @user.confirmation_token),
            :html => { :method => :put }) do |form| %>
  <%= render "shared/error_messages", :target => @user %>
  <%= form.inputs do -%>
    <%= form.input :password, :as => :password,
                   :label => "Choose password" %>
    <%= form.input :password_confirmation, :as => :password,
                   :label => "Confirm password" %>
  <% end -%>
  <%= form.actions do -%>
    <%= form.action :submit, :label => "Save this password" %>
  <% end -%>
<% end %>

