<h1>Edit units</h1>

<%= form_for(:unit, :url => unit_path(@unit), :html => { :method => :put }) do |f| %>
  <%= render "shared/error_messages", :target => @unit %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', unit_path(@unit) %> |
<%= link_to 'Back', unit_path %> |
<%= link_to 'log out', session_path(), :method => 'delete' %>
