<%= render 'shared/breadcrumbs', :crumbs => [{:name => controller_name.upcase}] %>
<% cache do %>
  <h2>Experiment Protocols</h2>
  <ul>
  <% @experiment_protocols.each do |protocol| %>
    <li><%= link_to "#{protocol.title}", protocol_path(protocol) %> </li>
  <% end %>
  </ul>
  <% @protocol_themes.each do |theme| %>
    <% next if theme.name == 'experiments' %>
    <h2><%= theme.name.humanize %></h2>
    <ul>
    <% @website.protocols.tagged_with(theme).order(:title).where(:active=>true).each do | protocol| %>
      <li>
      <%=link_to(raw("#{protocol.title}"), protocol_path(protocol)) %>
      </li>
    <% end %> 
    </ul>
  <% end %>

<% end %>

<% if signed_in? and current_user.role == 'admin' %>
  <ul>
  <% @untagged_protocols.each do |protocol| %>
    <li>
      <%= link_to raw("#{protocol.title}"), protocol_path(protocol) %>
    </li>
  <% end %> 
  </ul>
<%= link_to 'New protocol', new_protocol_path %>
<% end %>
