<h1>New protocol</h1>

<%= simple_form_for @protocol,:html => { :multipart => true } do |form| %>
  <%= render "shared/error_messages", :target => @protocol %>
  <%= render :partial => 'form', :locals => {:form => form, :websites => @websites, :people => @people, :datasets => @datasets } %>
  <%= form.button :submit %>
<% end %>

<%= link_to 'Back', protocols_path %>
