<% cache do %>
  <h1><%= link_to "#{@protocol.dataset}: ", @protocol.dataset if @protocol.dataset %><%=raw @protocol.title %></h1>
  <p class='notice'>
    <% if @protocol.active? -%>
      Active
    <% else -%>
      Replaced by: <%= link_to "#{@protocol.replaced_by}", @protocol.replaced_by %>
    <% end -%>
  </p>
  <% if @protocol.deprecates -%>
    <p>Replaces <%= link_to "#{Protocol.find(@protocol.deprecates)}", protocol_path(@protocol.deprecates) %></p>
  <% end -%>
  <p>
  <%= "In use from " if @protocol.in_use_from? %><%= @protocol.in_use_from %>
  <%= " to " if @protocol.in_use_to? %><%= @protocol.in_use_to %>
  </p>
  <%=raw textilize(@protocol.description) if @protocol.description %>
  <h2>Abstract</h2>
  <%=raw textilize(@protocol.abstract) if @protocol.abstract%>
  <h2>Protocol</h2>
  <div class='abstract_body'>
  <%=raw textilize(@protocol.body) if @protocol.body %>
  </div>
<% if @protocol.people.size > 1 %>Authors: <% else %>Author: <% end %>
  <ul>
    <% @protocol.people.each do |person| %>
      <li><%= link_to  "#{person.full_name}", person_path(person) %></li>
    <% end %>
  </ul>
  <h2>Datatables</h2>
  <ol>
  <% @protocol.datatables.each do |datatable| -%>
    <li><%= link_to datatable.to_label, datatable_path(datatable) %></li>
  <% end -%>
  </ol>

  <p>
  <%= link_to 'Edit', edit_protocol_path(@protocol) %> |
  <%= link_to 'Back', protocols_path %>
  </p>
<% end -%>
