<% cache do %>
  <h1><%= link_to "#{@protocol.dataset.dataset}", dataset_path(@protocol.dataset) if @protocol.dataset %>: <%=raw @protocol.title %></h1>
  <p class='notice'>
    <% if @protocol.active? -%>
      Active
    <% else -%>
      Replaced by: <%= link_to @protocol.replaced_by.title, protocol_path(@protocol.replaced_by) %>
    <% end -%>
  </p>
  <% unless @protocol.deprecates.nil? -%>
    <p>Replaces <%= link_to Protocol.find(@protocol.deprecates).title, protocol_path(@protocol.deprecates) %>
  <% end -%>
  <p>
  <%= "In use from "unless @protocol.in_use_from.nil? %><%= @protocol.in_use_from %> 
  <%= " to " unless @protocol.in_use_to.nil? %><%= @protocol.in_use_to %>
  </p>
  <p>
  <%=raw textilize(@protocol.description) if @protocol.description %>
  </p>
  <h2>Abstract</h2>
  <p>
  <%=raw textilize(@protocol.abstract) if @protocol.abstract%>
  </p>
  <h2>Protocol</h2>
  <p>
  <%=raw textilize(@protocol.body) if @protocol.body %>
  </p>
  <p>
<% if @protocol.people.size > 1 %>Authors: <% else %>Author: <% end %>
  <ul>
    <% @protocol.people.each do |person| %>
      <li><%= link_to  "#{person.full_name}", person_path(person) %></li>
    <% end %>
  </ul>
  </p>
  <h2>Datatables</h2>
  <% @protocol.datatables.each do |datatable| -%>
    <%= link_to datatable.to_label, datatable_path(datatable) %>
  <% end -%>

  <p>
  <%= link_to 'Edit', edit_protocol_path(@protocol) %> |
  <%= link_to 'Back', protocols_path %>
  </p>
<% end -%>
