<% content_for :head do %>
  <title>Protocol - <%= @protocol.title %></title>
<% end %>
<%= render 'shared/breadcrumbs',
  :crumbs => [{:name => controller_name.upcase, :url =>  url_for(:controller => controller_name, :action => 'index')},
    {:name => @protocol.title}] %>
<% cache(@protocol) do %>
  <h1><%= link_to "#{@protocol.dataset}: ", @protocol.dataset if @protocol.dataset %><%=raw @protocol.title %></h1>
  <p class='notice'>
    <% if @protocol.active? -%>
      Active
    <% else -%>
      <% if @protocol.replaced_by.blank? -%>
        Retired
      <% else -%>
        Replaced by: <%= link_to "#{@protocol.replaced_by}", @protocol.replaced_by %>
      <% end -%>
    <% end -%>
  </p>
  <p>
  <%= "In use from " if @protocol.in_use_from? %><%= @protocol.in_use_from %>
  <%= " to " if @protocol.in_use_to? %><%= @protocol.in_use_to %>
  </p>
  <%=raw textilize(@protocol.description) if @protocol.description %>
  <% if @protocol.abstract.present? -%>
    <h2>Abstract</h2>
    <%=raw textilize(@protocol.abstract) if @protocol.abstract%>
  <% end -%>


  <h2>Protocol</h2>
  <% if @protocol.body.present? %>
    <div class='abstract_body'>
      <%=raw textilize(@protocol.body) if @protocol.body %>
    </div>
  <% end %>
  <% if @protocol.pdf.exists? %>
    <%=link_to 'Get PDF', download_protocol_path(@protocol), :class=>'download-link'%>
  <% end %>

<% if @protocol.people.size > 1 %>Authors: <% else %>Author: <% end %>
  <ul class='bulleted'>
    <% @protocol.people.each do |person| %>
      <li><%= link_to  "#{person.full_name}", person_path(person) %></li>
    <% end %>
  </ul>
  <h2>Datatables</h2>
  <ul class='bulleted'>
  <% @protocol.datatables.each do |datatable| -%>
    <li><%= link_to raw(datatable.to_label), datatable_url(datatable, :host => datatable.dataset.website.url) %></li>
  <% end -%>
  </ol>

  <% if @protocol.deprecates -%>
    <p>Replaces <%= link_to "#{Protocol.find(@protocol.deprecates)}", protocol_path(@protocol.deprecates) %></p>
  <% end -%>

  <% if @protocol.change_summary.present? -%>
    <p> <%= raw textilize(*@protocol.change_summary) %> </p>
  <% end -%>

  <p>
  <%= link_to 'Edit', edit_protocol_path(@protocol) %> |
  <%= link_to 'Back', protocols_path %>
  </p>
<% end -%>
