<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name=viewport content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-1.9.1.js" integrity="sha256-e9gNBsAcA0DBuRWbm0oZfbiCyhjLrI6bmqAl5o+ZjUA=" crossorigin="anonymous"></script>
    <script   src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"   integrity="sha256-SOuLUArmo4YXtXONKz+uxIGSKneCJG4x0nVcA0pFzV0="   crossorigin="anonymous"></script>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= yield :head %>
  <%= csrf_meta_tag unless response.cache_control[:public] %>
</head>
<body>
  <%= yield :content %>

  <%= debug(params) if Rails.env.development? %>
  <%= debug(session) if Rails.env.development? %>

  <%= yield :bottom_scripts %>

</body>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
</html>
