<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js" %>
  <script type="text/javascript" src="http://www.google.com/jsapi?ver=3.4"></script>
  <%= javascript_include_tag :application %>
  <%= stylesheet_link_tag :application %>
  <%= yield :head %>
  <%= csrf_meta_tag unless response.cache_control[:public] %>
</head>
<body>
  <%= yield :content %>

  <%= debug(params) if Rails.env.development? %>
  <%= debug(session) if Rails.env.development? %>

  <%= yield :bottom_scripts %>

</body>
</html>
