<% content_for :head do %>
  <title>GLBRC Sustainability: <%= controller.controller_name %></title>
<% end %>

<% content_for :content do %>
  <div id='glbrc' class='metadata'>
    <%= render 'layouts/sign_in' %>
    <div id='branding'>
      <a id='glbrc-logo' href="http://glbrc.org">
        <img alt="Great Lakes Bioenergy Consortium" src="/assets/common/glbrc_small.jpg"/>
      </a>
      <h1><%= @title %></h1>
    </div>
    <div id='content'>
      <p style="color: green"><%= flash[:notice] %></p>
      <%= yield  %>
    </div>
    <div id='navigation'>
      <ul>
        <li class="<%=current_controller?('datatables')%>"><a href='/datatables' class='rounded-corners'>Data Catalog</a></li>
        <li class="<%=current_controller?('protocols')%>"><a href='/protocols' class='rounded-corners'>Protocols</a></li>
        <li class="<%=current_controller?('pages')%>"><a href='/pages/1' class='rounded-corners'>Experimental Layouts</a></li>
        <li class="<%=current_controller?('publications')%>"><a href='/citations' class='rounded-corners'>Publications</a></li>
      </ul>
    </div>
  </div>
<% end %>

<% content_for :bottom_scripts do %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-379552-6']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

  </script>
<% end %>

<%= render :file => 'layouts/application' %>
