<% content_for :head do %>
  <title>LTER: <%= controller.controller_name %>:<%= controller.action_name %></title>
  <%= stylesheet_link_tag 'lter_supplemental.less', :rel => "stylesheet/less" %>
  <link rel="alternate" type="application/rss+xml" title="Data" href="/datatables.rss" />
<% end %>

<% content_for :content do %>
  <%= render 'layouts/sign_in' %>
  <div id='branding'>
    <a id='msu_logo' href="http://www.msu.edu">
      <%= image_tag('common/logo_msu_pos_122.gif', :alt => 'Michigan State University Logo')%>
    </a>
    <h1><%= @title %></h1>
    <div id="topcoloredbar">
      <div id='search'>
        <a href="/people">People</a>
						<form action="http://www.google.com/cse" id="google-search-form">
						    <input name="cx" type="hidden" value="002874178145105834877:ao6juz4dn-k" />
						    <input name="ie" type="hidden" value="UTF-8" />
						    <input name="q" id='top-search-box' class="hint" type="text" value="Search KBS LTER..." onfocus="if (this.value == 'Search KBS LTER...') {this.value = ''; this.style.color = 'black';}" onblur="if (this.value == '') {this.value = 'Search KBS LTER...';this.style.color='#CCCCCC';}" />
						</form>
      </div>
      <h2><a href='/'>The KBS LTER Site</a></h2>
    </div>
  </div>
  <div id='content'>
    <p style="color: green"><%= flash[:notice] %></p>
    <ul id=crumbs>
      <li><a href='/'>Home</a></li>
      <% @crumbs.each do |crumb| %>
        <li> >
          <%= link_to_if crumb.url, "#{crumb.name}", crumb.url  %>
        </li>
      <% end %>
    </ul>
    <%= yield  %>
  </div>
  <div id='navigation'>
    <%= render :file => "#{Rails.root}/public/system/navigation.html"%>
    <% if controller.controller_name == 'datasets' || controller.controller_name == 'datatables' || controller.controller_name == 'protocols' %>
      <%= render :file => "#{Rails.root}/public/system/network_db.html"%>
      <%= render :file => "#{Rails.root}/public/system/glbrc.html"%>
    <% end %>
  </div>
  <div id='footer'>
    <%= render :file  => "#{Rails.root}/public/system/footer.html"%>
  </div>
<% end %>

<% content_for :bottom_scripts do %>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-379552-5");
    pageTracker._trackPageview();
    } catch(err) {}
  </script>
<% end %>

<%= render :file => 'layouts/application' %>
