<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>

    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel='stylesheet' href='https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css' type='text/css'>
    <link rel="stylesheet" href="/wp-content/themes/msu-kbs/lib/css/normalize.css" type="text/css" />
    <link rel="Shortcut Icon" href="/wp-content/themes/msu-kbs/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/wp-content/themes/msu-kbs/style.css" type="text/css" />
    <link rel="stylesheet" id="gsc_style-css" href="https://lter.kbs.msu.edu/wp-content/plugins/google-custom-search/css/smoothness/jquery-ui-1.7.3.custom.css?ver=3.4" type="text/css" media="all">
    <link rel='stylesheet' href='https://lter.kbs.msu.edu/wp-content/plugins/google-custom-search/css/gsc-no-search-button.css?ver=3.4'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js" %>
  <script type="text/javascript" src="https://www.google.com/jsapi?ver=3.4"></script>
  <script type="text/javascript" src="https://lter.kbs.msu.edu/wp-content/plugins/google-custom-search/js/gsc.js?ver=3.4"></script>
    <%= csrf_meta_tag unless response.cache_control[:public] %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", :media => 'all'%>

    <script type="text/javascript">
      jQuery(document).ready(function() {
          jQuery.fn.cleardefault = function() {
          return this.focus(function() {
            if( this.value == this.defaultValue ) {
            this.value = "";
            }
            }).blur(function() {
              if( !this.value.length ) {
              this.value = this.defaultValue;
              }
              });
          };
          jQuery(".clearit input, .clearit textarea").cleardefault();
          });
        </script>
        <script>
          var _prum = [['id', '54919125abe53d77261dbb63'],
          ['mark', 'firstbyte', (new Date()).getTime()]];
          (function() {
          var s = document.getElementsByTagName('script')[0]
          , p = document.createElement('script');
          p.async = 'async';
          p.src = '//rum-static.pingdom.net/prum.min.js';
          s.parentNode.insertBefore(p, s);
          })();
        </script>
      </head>
      <body class="page page-template page-template-page_gallery-php header-image full-width-content">
        <div id="wrap">
          <%= render :file => "#{Rails.root}/public/header", :formats => [:html] %>
          <%= render :file => "#{Rails.root}/public/nav", :formats => [:html] %>
          <div id="inner" class="metadata <%= controller.controller_name.gsub(/_/,'-') %> <%= controller.action_name%>">
            <div class="wrap">	
              <div id="content">
                <div id="content-sidebar-wrap">
                  <article id='metadata' class='hfeed'>
                  <%= yield %>
                  </article>
                </div><!-- end #content-sidebar-wrap -->
              </div>
            </div><!-- end .wrap -->
          </div><!-- end #inner -->
        </div><!-- end #wrap -->
        <%= render :file => "#{Rails.root}/public/footer", :formats => [:html] %>
        <script type='text/javascript' src='/wp-content/themes/genesis/lib/js/menu/superfish.js?ver=1.4.8'></script>
        <script type='text/javascript' src='/wp-content/themes/genesis/lib/js/menu/superfish.args.js?ver=1.8.1'></script>
        <script type="text/javascript">
          var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
          document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-379552-5");
              pageTracker._trackPageview();
            } catch(err) {}
          </script>
        </body>
      </html>
