<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>

    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://lter.kbs.msu.edu/wp-content/themes/msu-kbs/lib/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="https://lter.kbs.msu.edu/wp-content/themes/msu-kbs/style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.9.1.js" integrity="sha256-e9gNBsAcA0DBuRWbm0oZfbiCyhjLrI6bmqAl5o+ZjUA=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js" integrity="sha256-xH4q8N0pEzrZMaRmd7gQVcTZiFei+HfRTBPJ1OGXC0k=" crossorigin="anonymous"></script>
          <script type="text/javascript" src="https://lter.kbs.msu.edu/wp-content/plugins/wp-google-search/assets/js/google_cse_v2.js?ver=1"></script>
    <script src="https://kit.fontawesome.com/f5ab86facf.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", :media => 'all'%>
    <%= csrf_meta_tag unless response.cache_control[:public] %>

    <script async type="text/javascript">
      jQuery(document).ready(function() {
          jQuery.fn.cleardefault = function() {
          return this.focus(function() {
            if( this.value == this.defaultValue ) {
            this.value = "";
            }
            }).blur(function() {
              if( !this.value.length ) {
              this.value = this.defaultValue;
              }
              });
          };
          jQuery(".clearit input, .clearit textarea").cleardefault();
          });
        </script>
      </head>
      <body class="page page-template page-template-page_gallery-php header-image full-width-content">
        <div id="wrap">
          <%= render "shared/header" %>
          <%= render "shared/nav" %>
          <div class="site-inner metadata <%= controller.controller_name.gsub(/_/,'-') %> <%= controller.action_name%>">
            <div class="wrap">
              <div id="content">
                <div id="content-sidebar-wrap">
                  <article id='metadata' class='hfeed'>
                  <%= yield %>
                  </article>
                </div><!-- end #content-sidebar-wrap -->
              </div>
            </div><!-- end .wrap -->
          </div><!-- end #inner -->
        </div><!-- end #wrap -->
        <%= render "shared/footer" %>
        <%= render 'layouts/sign_in' %>
        <%= javascript_include_tag "application" %>
        <script async type='text/javascript' src='/wp-content/themes/genesis/lib/js/menu/superfish.js?ver=1.4.8'></script>
        <script async type='text/javascript' src='/wp-content/themes/genesis/lib/js/menu/superfish.args.js?ver=1.8.1'></script>
        <!-- Google Analytics -->
        <script type="text/javascript">
            /* <![CDATA[ */
              var scriptParams = {"google_search_engine_id":"003683915414719684546:geq-m8zdi9w"};
            /* ]]> */
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-379552-5', 'auto');  // Replace with your property ID.
          ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->

          <link rel="Shortcut Icon" href="https://lter.kbs.msu.edu/wp-content/themes/msu-kbs/images/favicon.ico" type="image/x-icon" />
          <link rel="stylesheet" id="wgs2-css" href="https://lter.kbs.msu.edu/wp-content/plugins/wp-google-search/wgs2.css?ver=4.9.2" type="text/css" media="all">
    <%= stylesheet_link_tag "application", :media => 'all'%>
        </body>
    <script type="text/javascript" src="https://www.google.com/jsapi?ver=4.4.2"></script>
      </html>
